@import 'text';

.side .md h5:before {
	content: $announcement-pretext;
}

.side .md h5 {
	position: absolute;
	top: 53px;
	left: 491px;
	z-index: 200;
	border-radius: 3px;
	border: 1px solid #163D4D;
	background: #071D26;
	padding: 8px;
	font-size: 12px;
	box-shadow: 0px 0px 90px #55889E;
}