* {
font-family: "Comic Sans MS", cursive, sans-serif !important;
    background: linear-gradient(13deg, #ff0000, #eeff00, #45ff00, #00ffdf, #005fff, #af00ff, #ff00d4);
    background-size: 1400% 1400%;
    animation: moo 14s ease infinite;
    
}

.entry, .entry *:not(.expando-button), #siteTable {
    background: #111 !important;
}

a{transition: all .2s ease-in-out !important;}
a:hover { transform: scale(1.337) !important; }

body {
    background: linear-gradient(13deg, #ff0000, #eeff00, #45ff00, #00ffdf, #005fff, #af00ff, #ff00d4);
    background-size: 1400% 1400%;
    animation: moo 14s ease infinite;
}

@keyframes moo { 
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}

#header .hover.pagename.redditname a {
    background: none !important;
}

a.author:before {
    content: "Brother_";
}

a.choice:after {
    content: " memes";
}

.rainbow {
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  background: none !important;
  box-shadow: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  font-size: 32px;
  text-align: center;
  text-overflow: clip;
  text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rainbow:before {
    content: "";
}

.rainbow:hover {
  text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.side .md h6 {
    z-index: 300;
}

.side .md h6:nth-of-type(1) {
    @extend .rainbow;
    position: absolute;
    left: 150px;
    top: 75px;
    transform: rotate(-32deg);
}

.side .md h6:nth-of-type(2) {
    @extend .rainbow;
    position: absolute;
    left: 250px;
    top: 85px;
    transform: rotate(13deg);
}

.side .md h6:nth-of-type(3) {
    @extend .rainbow;
    position: absolute;
    left: 450px;
    top: 35px;
    transform: rotate(76deg);
}

.side .md h6:nth-of-type(4) {
    @extend .rainbow;
    position: absolute;
    left: 450px;
    top: 75px;
    transform: rotate(-312deg);
}

.side .md h6:nth-of-type(5) {
    @extend .rainbow;
    position: absolute;
    left: 650px;
    top: 55px;
    transform: rotate(-72deg);
}

.side .md h6:nth-of-type(6) {
    @extend .rainbow;
    position: absolute;
    left: 750px;
    top: 55px;
    transform: rotate(6deg);
}

.side .md h6:nth-of-type(7) {
    @extend .rainbow;
    position: absolute;
    left: 860px;
    top: 65px;
    transform: rotate(180deg);
}

.side .md h6:nth-of-type(8) {
    @extend .rainbow;
    position: absolute;
    left: 1150px;
    top: 95px;
    transform: rotate(900deg);
}


.side .md h6:nth-of-type(9) {
    @extend .rainbow;
    position: absolute;
    left: 1050px;
    top: 75px;
    transform: rotate(32deg);
}