@import 'colors';
@import 'text';
@import 'images';

body {
	color: $header-link;
    background: url($main-bg) center top no-repeat $dark-blue;
}

body > .content {
	margin-right: 364px;
	padding-left: 10px;
	position: relative;
	margin-top: 42px; 
	background: $body-bg-blue;
    border: 1px solid #000;
	box-shadow: 0px 0px 10px #000;
}

a {
	color: $header-link-selected;
}

a:visited {
	color: $header-link-visited;
}

a:hover {
	color: $header-link-hover;
}

html:not([lang="xx"]) .RES-keyNav-activeElement, 
html:not([lang="xx"]) .commentarea .RES-keyNav-activeElement .md, 
html:not([lang="xx"]) .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
	outline: none !important;
	background-color:transparent !important;
}

#siteTable .thing .entry {
	padding: 7px;
}

#siteTable .thing .entry .domain a:before {
	content: $url-separator;
}

#siteTable .thing .entry .domain {
	color: $dark-gray;
}

#siteTable .thing .entry .domain a {
	color: $submission-buttons;
}

#siteTable .thing .entry .tagline, 
#siteTable .thing .entry .buttons a {
	color: $submission-buttons;
	font-weight: normal;
}

#siteTable .thing .entry .buttons a {
	font-style: italic;
}

#siteTable .thing {
	border-bottom: 2px solid $submission-border;
	margin-bottom: 0px;
	position: relative;
	height: 100%;
}

.thing.stickied:after {
	display: inline-block;
	width: 643px;
	height: 68px;
	content: url($entry-stickied);
	position: absolute;
	left: -10px;
	bottom: 0px;
	z-index: -2;
}

.thing.stickied:before {
	display: inline-block;
	width: 643px;
	height: 68px;
	content: url($entry-selected);
	position: absolute;
	left: -10px;
	top: 0px;
	z-index: -1;
}

.thing.stickied a.title,
.thing.stickied a.title:visited {
	color: $sticky-title !important;
	text-shadow: 0px 0px 5px $black, 0px 0px 10px $black;
}

.thing a.title {
	color: $submission-link !important;
}

.thing a.title:visited {
	color: $submission-link-visited !important;
}

.thing a.title:hover {
	text-decoration: underline;
}

.thing p.title {
	border-bottom: 1px dashed $submission-dashed-border;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.thing a.thumbnail {
	margin-top: 4px;
	padding: 8px;
	width: 53px;
	height: 53px;
	position: relative;
	-webkit-background-clip: content-box !important;
    background-clip: content-box !important;
	background-color: $dark-gray;
}

.thing a.thumbnail:after {
	content: url($thumb-frame);
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
}

.thing a.thumbnail.self, 
.thing a.thumbnail.default {
	background: url($baked) -0px -0px;
}

.thing a.thumbnail.nsfw {
	background: url($baked) -69px -4px;
}

.thing a.thumbnail * {
	background-color: #000;
}

.thing a.thumbnail img {
	width: 53px;
	height: 53px;
}

.thing .midcol {
	margin-top: 11px;
}

.arrow, 
.arrow.downmod, 
.arrow.upmod, 
.arrow.down, 
.arrow.up {
	background: url($baked) -142px -0px;	
	width: 16px;
	height:13px;
}

.arrow.downmod {
	background-position: -158px -0px;
}

.arrow.down {
	background-position: -190px -0px;
}

.arrow.up {
	background-position: -174px -0px;
}

.link .rank {
	margin-left: 0px;
	color: #333;
	margin-top: 25px;
}

.linkinfo {
	background: $body-bg-blue;
	border: 1px solid $dark-blue;
}

.linkinfo .score .number {
	color: $gold;
	font-size: 18px;
}

.linkinfo .score .number:before {
	color: $white;
	content: $link-stats-before-number;
}

.linkinfo .score .number:after {
	color: $white;
	content: $link-stats-after-number;
}

.linkinfo .totalvotes .number:before {
	content: $link-stats-vote-modifier;
}

.linkinfo .totalvotes .number:after {
	content: $link-stats-vote-modifier-desc;
}

.linkinfo .word {
	display: none;
}

.linkinfo .date {
	border-bottom: 2px solid $dark-blue;
	padding: 5px 0;
}

.linkinfo .score {

}

.linkinfo .date:before {
	content: $submitted;
}

.linkinfo .date span {
	display: none;
}

input, 
.linkinfo .shortlink input {
	background: #222;
	border: 1px solid #333;
	color: #ddd;
}

input:hover, 
.linkinfo .shortlink input:hover {
	border: 1px solid #1c5589;
}

textarea:focus {
    outline: medium none;
    border: 1px solid #1c5589;
    box-shadow: 0px 0px 10px #1c5589;
}

#siteTable .entry.RES-keyNav-activeElement {
	background: transparent !important;
}

#siteTable .entry.RES-keyNav-activeElement:before {
	display: inline-block;
	width: 643px;
	height: 68px;
	content: url($entry-selected);
	position: absolute;
	left: -10px;
	top: 0px;
	z-index: -1;
}

#siteTable .entry.likes:after {
	display: inline-block;
	width: 643px;
	height: 68px;
	content: url($entry-liked);
	position: absolute;
	left: -10px;
	bottom: 0px;
	z-index: -2;
}

#siteTable .entry.dislikes:after {
	display: inline-block;
	width: 643px;
	height: 68px;
	content: url($entry-disliked);
	position: absolute;
	left: -10px;
	bottom: 0px;
	z-index: -2;
}

#siteTable .link.last-clicked {
	border-top: none;
	border-left: none;
	border-right: none;
	background: transparent;
}

.link .usertext-body {
	background: $blue-button-fill;
	border-radius: 3px;
	border: 1px solid $blue-button-light-border;
}

.link .usertext .md {
	background: transparent !important;
	border: none;
	border-radius: 0px;
	color: $text;
}

body .thing .tagline .author.submitter,
.tagline .submitter {
	background: #006891 !important;
	color: #fff !important;
	border-radius: 2px !important;
	padding: 3px !important;
}

body .thing .tagline .author.friend,
.tagline .friend {
	background: #912200 !important;
	border-radius: 2px !important;
	color: #fff !important;
	padding: 3px !important;
}

body .thing .tagline .author.moderator,
.tagline .moderator {
	background: #282 !important;
	border-radius: 2px !important;
	color: #fff !important;
	padding: 3px !important;
}

.tagline a {
	color: $header-link-hover;
}

.panestack-title {
	color: $header-link-selected;
	border-bottom: none;
	float: left;
	margin-right: 10px;
	margin-top: 0px;
}

.commentingAs {
	color: $header-link-selected;
}

.panestack-title .RESSubscriptionButton {
	background: $green-button-fill;
	display: inline-block;
	padding: 5px;
	border-radius: 3px;
	color: $header-link !important;
	font-style: italic;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid $green-button-light-border;
}

.commentarea .menuarea {
	margin-top: 10px !important;
	margin-right: 0px !important;
}

#REScommentNavToggle {
	margin-left: -5px !important;
}

.entry .nsfw-stamp acronym {
	background-color: $red-button-fill;
	border: 1px solid $red-button-light-border !important;
	padding: 3px;
	border-radius: 2px;
	color: $white;
}

.expando-button {
	background: url($expando) transparent !important;
	width: 36px !important;
	height: 36px !important;
	max-width: 36px !important;
	max-height: 36px !important;
	margin-top: -3px !important;
}

.expando-button.selftext.collapsed {
	background-position: 0px -72px !important;
}

.expando-button.selftext.expanded {
	background-position: -36px -72px !important;
}

.expando-button.image.collapsedExpando, .expando-button.image.collapsed {
	background-position: 0px -36px  !important;
}

.expando-button.image.expandedExpando, .expando-button.image.expanded {
	background-position: -36px -36px !important;
}

.expando-button.video.collapsed {
	background-position: 0px 0px !important;
}

.expando-button.video.expanded {
	background-position: -36px 0px !important;
}

.footer {
	border: 1px solid $blue-button-light-border !important;
}

.footer .col {
	border-left: 1px solid $blue-button-light-border;
}

html:not([lang="xx"]) .comment {
	background: $blue-button-fill;
	border-radius: 3px;
	border: 1px solid $blue-button-light-border !important;
	position: relative;
	outline: none;
	color: $text !important;
	padding-top: 0px !important;
	margin: 10px;
}

html:not([lang="xx"]) .thing.comment * {
	z-index: 1;
}

html:not([lang="xx"]) .thing.comment .entry {
	padding-top: 10px;
}

html:not([lang="xx"]) .thing.comment .entry .md {
	padding-top: 5px;
}

html:not([lang="xx"]) .thing.comment p.parent {
	position: absolute;
	top: -1px;
	left: 10px;
	width: 100%;
	height: 100%;
	z-index: -1;
	margin-left: -11px;
	border-radius: 3px;
	border: 1px solid $blue-button-light-border;
}

html:not([lang="xx"]) .comment .comment { background-color: $blue-button-dark-fill !important }
html:not([lang="xx"]) .comment .comment .comment { background-color: $blue-button-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment { background-color: $blue-button-dark-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment .comment { background-color: $blue-button-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment { background-color: $blue-button-dark-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment { background-color: $blue-button-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment .comment { background-color: $blue-button-dark-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: $blue-button-fill !important }
html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment { background-color: $blue-button-dark-fill !important }

span.score {
	color: $header-link !important;
	font-weight: bold;
}

.comment .entry .buttons li a {
	color: $frosted-border-blue !important;
}

.comment .RES-keyNav-activeElement {
	outline: none !important;
	background: url($entry-selected) top left no-repeat !important;
}

html:not([lang="xx"]) .comment .child {
	border-left: none !important;
}

.flairselector  {
	box-shadow: none !important;
}

.flairselector li:hover {
	background: $medium-blue;
}

h2, label {
	color: $header-link-selected;
}