$red5: #120303;
$red4: #220606;
$red3: #2c0606;
$red2: #740a0a;
$red1: #b05555;

$red-highlight: #ff0000;

$link-color2: #aaaaaa;
$link-color: #fafafa;

$header-background-color: #000000;

$link-domain-color: #979797;
$link-buttons-color: #877e54;
$link-sticky-title-color: #6ac300;
$link-sticky-title-visited-color: #81a210;
$link-title-border-color: $red5;

$blizz-link-domain-color: #0a324e;
$blizz-link-buttons-color: #4b95c0;
$blizz-link-title-visited-color: #7b61b4;
$blizz-link-title-border-color: #005b7f;
$blizz-link-background-color: #0d150c;
$blizz-link-border-color: #070b06;

$moderator-color: #00910a;
$friend-color: #ff4500;
$user-color: #979797;

$post-text-color: #fff;
$post-quoted-text-color: #aaa;
$sidebar-text-color: #ffe3a4;

$info-bar-background-color: #83723d;
$info-bar-border-color: #fcce3c;

$gold-accent-background-color: #000;
$gold-accent-text-color: #ccaf55;

$comment-background-color: $red5;
$comment-background-color-alt: $red3;

$roundfield-background-color: #000;
$roundfield-input-background-color: #000;


$blue1: #49a4e1;
$blue2: #50738b;
$blue3: #0e2a3d;
$blue4: #0f1a24;
$blue5: #0c1619;