$dark-gray: #181818; 
$black: #000000;

$header-link: #d9f3ff;
$header-link-selected: #2ba5dc;
$header-link-hover: #ffffff;

$sticky-title: #47a21b;

$submission-buttons: #77839d;
$submission-link: #2ba5dc;
$submission-link-visited: #55627b;
$submission-dashed-border: #2d4b66;
$submission-border: #0f1a24;

$medium-blue: #0e2a3d;
$dark-blue: #0c1619;

$body-bg-blue: #172127;

$blue-button-dark-border: #132735;
$blue-button-light-border: #2c5c7e;
$blue-button-fill: #233847;

$red-button-dark-border: #351313;
$red-button-light-border: #7e2c2c;
$red-button-fill: #472323;

$green-button-light-border: #347e2c;
$green-button-fill: #274723;