$primary5: #030e12;
$primary4: #061822;
$primary3: #06232c;
$primary2: #0a5c74;
$primary1: #55a2b0;
$primary0: #00d8ff;

$link-color2: #aaaaaa;
$link-color: #fafafa;

$body-background-color: $primary5;

$header-background-color: #000000;

$site-table-background-color: #12110f;

$link-domain-color: #979797;
$link-buttons-color: #a99877;
$link-sticky-title-color: #6ac300;
$link-sticky-title-visited-color: #81a210;
$link-title-border-color: $primary5;

$blizz-link-domain-color: $link-domain-color;
$blizz-link-buttons-color: #66b6e4;
$blizz-link-title-visited-color: #66b6e4;
$blizz-link-title-border-color: #005b7f;
$blizz-link-background-color: #09161b;
$blizz-link-border-color: #070b06;
$blizz-post-text-color: #00b4ff;
$blizz-post-link-color: #ff6f0b;

$moderator-color: #00910a;
$friend-color: #ff4500;
$user-color: #979797;

$post-text-color: #a99877;
$post-quoted-text-color: #aaa;
$sidebar-text-color: #ffe3a4;

$info-bar-background-color: #83723d;
$info-bar-border-color: #fcce3c;

$gold-accent-background-color: $site-table-background-color;
$gold-accent-text-color: #ccaf55;

$comment-background-color: #212120;
$comment-background-color-alt: #12110f;

$roundfield-input-background-color: #000;