$dark-gray: #a42d0b; 
$black: #99ff33;
$white: #0000cc;

$header-link: #9933ff;
$header-link-selected: #cc33ff;
$header-link-hover: #d9b3ff;
$header-link-visited: #6666ff;

$sticky-title: #ffff00;

$submission-buttons: #33ccff;
$submission-link: #ff704d;
$submission-link-visited: #800040;
$submission-dashed-border: #00ff00;
$submission-border: #cc33ff;

$medium-blue: #00e6e6;
$dark-blue: #3333ff;

$body-bg-blue: #800080;
$frosted-bg-blue: #ccff66;
$frosted-border-blue: #ff0066;

$blue-button-dark-border: #ffffcc;
$blue-button-light-border: #0033cc;
$blue-button-fill: #66ff33;
$blue-button-dark-fill: #cc66ff;

$red-button-dark-border: #00ccff;
$red-button-light-border: #669900;
$red-button-fill: #ff33cc;

$green-button-light-border: #993300;
$green-button-fill: #99cc00;

$pink-button-border: #3333cc;
$pink-button-fill: #66ccff;

$mail-pulse: #ffff00;

$gold: #ffdb6d;

$text: #336600;

$selection-color: #ff00ff;

$context-color: #ff00ff;