@import 'colors';
@import 'text';

.comments-page {
  .flat-list.buttons a.flairselectbtn {
    font-size: 0px;
    background: $primary3;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    color: $post-text-color !important;
    border: 1px solid $primary1;

    & + .flairselector form {
      border-top: 0;
    }

    & + .flairselector h2,
    & + .flairselector .customizer { 
      display:none; 
    }

    & + .flairselector .customizer::before { 
      content:""; 
    }
  }
}

.click-gadget .linkflair {
  background: #111;
  border: 1px solid #c00;
  border-radius: 3px;
  color: #ddd;
  padding: 5px;
  font-weight: bold;
}

.click-gadget .linkflair {
  font-size: x-small;
  white-space: nowrap;
  display: inline-block;
  margin-right: 3px;
}

.linkflair .linkflairlabel {
  vertical-align: middle;
}

.linkflair-spoiler .linkflairlabel ~ a.title, 
.click-gadget .linkflair ~ a.reddit-link-title {
  opacity: 0.0;
  -moz-opacity:.0; 
}

.linkflair-spoiler .linkflairlabel ~ a.title:hover, 
.click-gadget .linkflair ~ a.reddit-link-title:hover {
  opacity: 1.0;
  -moz-opacity:1; 
}

.linkflair-spoiler a.thumbnail {
  background: url(%%ros-baked%%) -70px 0px !important;
}

.linkflair-spoiler a.thumbnail img,
.linkflair-spoiler a.thumbnail {
  display: none !important;
}

.linkflair-spoiler .entry { 
  margin-left: 152px; 
}

.thing .title {
  color: #fff; 
}

.flair {
  padding: 0px;
  margin: 0;
  line-height: 20px;
  vertical-align: middle;
  text-align: right; 
  color: #eee;
  background: $userflairbg top left no-repeat #000;
  min-width: 40px;
  padding-right: 10px;
  width: 40px;
  height:20px;
  position: relative;
  z-index: 10;
  opacity: 0.5;
  overflow: hidden;
  margin-right: 3px;
  text-indent: 60px;
  border: 1px solid #000;
  border-radius: 2px;
  @include vendor-prefix(transition, all 0.3s);

  &:hover { 
    opacity: 1.0; 
    width: auto;
    @include vendor-prefix(transition, all 0.3s);
  }
}

@each $i in sprite_names($user-flair) {
    .flair-#{$i} {
      background-position: sprite-position($user-flair, $i) !important;
    }
}

.flair-idscroll + .userattrs {
  background-image: url(%%ros-baked%%);
  background-position: 0px -137px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 18px;
  height: 18px;
  vertical-align: middle;
}

.flair-challenge + .userattrs:after {
  content: " ";
  background-image: url(%%challengeflair%%);
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 24px;
  height: 22px;
  vertical-align: middle;
}

.flair-one + .userattrs:after {background-position: 0px -2px;}
.flair-two + .userattrs:after {background-position: -26px -2px;}
.flair-three + .userattrs:after {background-position: -55px -2px;}
.flair-four + .userattrs:after {background-position: -86px -2px;}
.flair-1L2 + .userattrs:after {background-position: 0px -32px;}
.flair-2L2 + .userattrs:after {background-position: -26px -32px;}
.flair-3L2 + .userattrs:after {background-position: -55px -32px;}
.flair-4L2 + .userattrs:after {background-position: -86px -32px;}
.flair-1L3 + .userattrs:after {background-position: 0px -62px;}   
.flair-2L3 + .userattrs:after {background-position: -26px -62px;}   
.flair-3L3 + .userattrs:after {background-position: -55px -62px;}   
.flair-4L3 + .userattrs:after {background-position: -86px -62px;}


.flair-rainbowsmotherfucker + .userattrs:before {
  content: " ";
  background-image: url(%%ros-baked%%);
  background-position: 0px -160px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 20px;
  height: 20px;
  vertical-align: middle;
}

/**** Blizzard flair for employees ****/
/*Diablo*/
a.author[href$="reddit.com/user/andrewchambers"]:before, 
a.author[href$="reddit.com/user/_JohnYang"]:before,
a.author[href$="reddit.com/user/Nevalistis"]:before, 
a.author[href$="reddit.com/user/Ulvareth"]:before,
a.author[href$="reddit.com/user/wyattcheng"]:before, 
a.author[href$="reddit.com/user/Blizz_MatthewBerger"]:before,
a.author[href$="reddit.com/user/blizz_rogerhughston"]:before, 
a.author[href$="reddit.com/user/BlizzRichieMarella"]:before, 
a.author[href$="reddit.com/user/Blizz_KevinMartens"]:before, 
a.author[href$="reddit.com/user/Blizz_Kauza"]:before,

/*Other*/
a.author[href$="reddit.com/user/Araxom"]:before, 
a.author[href$="reddit.com/user/Glaxigrav"]:before,  
a.author[href$="reddit.com/user/Natryndon"]:before,
a.author[href$="reddit.com/user/Orlyia"]:before,
a.author[href$="reddit.com/user/Dromogaz"]:before,
a.author[href$="reddit.com/user/Dalthrox"]:before,
a.author[href$="reddit.com/user/Kalviery"]:before {
  content: url(%%blizz%%);
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
}

/** Job descriptions */

/* Community Managers */
a.author[href$="reddit.com/user/Nevalistis"]:after,  
a.author[href$="reddit.com/user/Blizz_Kauza"]:after {
  content: "Community Manager";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111;
}

/* Customer support */
a.author[href$="reddit.com/user/Araxom"]:after, 
a.author[href$="reddit.com/user/Glaxigrav"]:after, 
a.author[href$="reddit.com/user/Natryndon"]:after,
a.author[href$="reddit.com/user/Orlyia"]:after,
a.author[href$="reddit.com/user/Dromogaz"]:after,
a.author[href$="reddit.com/user/Dalthrox"]:after,
a.author[href$="reddit.com/user/Kalviery"]:after {
  content: "Customer Support";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111;
}

/* Game Designers */
a.author[href$="reddit.com/user/wyattcheng"]:after, 
a.author[href$="reddit.com/user/andrewchambers"]:after,
a.author[href$="reddit.com/user/_JohnYang"]:after, 
a.author[href$="reddit.com/user/Blizz_MatthewBerger"]:after, 
a.author[href$="reddit.com/user/Blizz_KevinMartens"]:after {
  content: "Game Designer";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111;
}

/* Software Engineers */
a.author[href$="reddit.com/user/blizz_rogerhughston"]:after {
  content: "Software Engineer";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111;
}

/* Artists */
a.author[href$="reddit.com/user/BlizzRichieMarella"]:after {
  content: "Artist";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111;
}

/*Diablo*/
a.author[href$="reddit.com/user/andrewchambers"], 
a.author[href$="reddit.com/user/_JohnYang"],
a.author[href$="reddit.com/user/Nevalistis"], 
a.author[href$="reddit.com/user/Ulvareth"],
a.author[href$="reddit.com/user/wyattcheng"], 
a.author[href$="reddit.com/user/Blizz_MatthewBerger"],
a.author[href$="reddit.com/user/blizz_rogerhughston"], 
a.author[href$="reddit.com/user/BlizzRichieMarella"], 
a.author[href$="reddit.com/user/Blizz_KevinMartens"], 
a.author[href$="reddit.com/user/Blizz_Kauza"],

/*Other*/
a.author[href$="reddit.com/user/Araxom"], 
a.author[href$="reddit.com/user/Glaxigrav"], 
a.author[href$="reddit.com/user/Natryndon"], 
a.author[href$="reddit.com/user/Dromogaz"],
a.author[href$="reddit.com/user/Dalthrox"],
a.author[href$="reddit.com/user/Kalviery"] {
  color: #00B4FF !important;
}