@import 'colors';
@import 'images';

.footer {
  border: none;
}

.footer-parent {
  background: url($footer-background) bottom center no-repeat;
  padding-top: 152px;
  margin-bottom: -10px;
}

.hsts_pixel, .debuginfo {
  display: none;
}