@import 'colors';
@import 'images';

#header {
  background: url($diablo) center bottom no-repeat $header-background-color;
  border-bottom: 1px solid $red3;
  height: 263px;
  position: relative;
  z-index: 1;

  #header-img {
    margin-left: 16px;
  }

  @include keyframes(diablo-flames) {
    100% { 
      background-position: 0px -2310px;
    }
  }

  $frameWidth: 390px;
  $frameHeight: 154px;
  .hover.pagename.redditname {
    width: $frameWidth;
    height: $frameHeight;
    margin-top: 0px;
    margin-left: 16px;
    display: inline-block;
    background: url($diablo-logo);

    @include vendor-prefix(animation, diablo-flames 1s steps(15) infinite);
    @include vendor-prefix(transform, translatez(0));

    a {
      display: block;
      text-indent: -99999px;
      width: $frameWidth;
      height: $frameHeight;
    }
  }

  #sr-header-area {
    background: $red5;
    padding: 4px 0px 4px 0px;
    border-bottom: 1px solid $red3;
    margin-right: 316px;

    .width-clip {
      margin-right: 316px;
    }

    .dropdown.srdrop .selected,
    .sr-bar a,
    .sr-bar .separator,
    .separator,
    #sr-more-link {
      color: $red2;
    }

    .dropdown.srdrop .selected {
      background: transparent;
      padding-right: 0px;
    }

    #sr-more-link {
      background-color: $red5;
    }
  }

  #header-bottom-left {
    .tabmenu {
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
      display: block;
      background: url($diablo-blur) center bottom no-repeat $header-background-color;
      margin-top: 0px;
      padding: 0px;
      border-top: 1px solid #111;

      li {
        display: inline-block;
        margin: 0px;

        &.selected a {
          border: none;
          border-top: none;
          color: $red1;
          border-bottom: 2px solid $red1;
        }

        &:first-child {
          margin-left: 110px;

          a {
            border-left: 1px solid #111;
            border-right: 1px solid #111;
          }
        }

        a {
          background: transparent;
          display: block;
          padding: 16px;
          border-right: 1px solid #111;
          text-transform: uppercase;
          color: $link-color2;
          letter-spacing: 2px;
          font-weight: normal;
          position: relative;
          @include vendor-prefix(transition, background 0.5s);

          &:hover {
            background: rgba(255, 255, 255, 0.05);
            @include vendor-prefix(transition, background 0.5s);

            &:before, &:after {
              @extend .pentagram-small-1;
              content: "";
              position: absolute;
              top: 11px;
            }

            &:before {
              left: -11px;
            } 

            &:after {
              right: -10px;
            }
          }
        }
      }
    }
  }

  #header-bottom-right {
    background: $red5;
    top: 0px;
    bottom: auto;
    width: 316px;
    display: block;
    padding: 7px 16px 6px 0px;
    border-bottom: 1px solid $red3;
    text-align: right;

    .user {
      padding-left: 16px;
    }

    #modmail {
      color: transparent;
    }
  }
}
