@import 'colors';
@import 'images';


#header {
	height: 181px;
	background: url($header-bg) left bottom repeat-x;
	z-index: 0;
	overflow: hidden !important;
	border-bottom: none;
}

#header-bottom-left {
	background: url($blue-overlay-bg);
	height: 161px;
	border-bottom: 1px solid $dark-gray;
}

#header #header-img-a {
	padding-left: 22px;
	padding-right: 22px;
}

#header #header-img {
	position: relative;
	z-index: 1;
}

#header .hover.pagename.redditname {
	background: url($logo);
	display: inline-block;
	width: 519px;
	height: 125px;
	margin-left: -110px;
	position: relative;
	z-index: 0;
}

#header .hover.pagename.redditname:hover {
	background-position: 0px -125px;
}

#header .hover.pagename.redditname a {
	display: block;
	text-indent: -9999px;
	width: 250px;
	height: 100px;
	margin-left: 134px;
	margin-top: 10px;
}

#header ul.tabmenu {
	display: block;
	border-top: 1px solid $dark-gray;
	padding-left: 37px;
	padding-right: 22px;
	margin: 0 0;
	height: 25px;
	line-height: 25px;
}

#header ul.tabmenu li a {
	text-transform: capitalize;
	background: none;
	font-size: 14px;
	color: $header-link;
	font-weight: normal;
	text-shadow: 0px 1px 0px #000000;
}

#header ul.tabmenu li.selected a {
	color: $header-link-selected;
	border: none;
}

#header ul.tabmenu li a:hover {
	color: $header-link-hover;
	@include vendor-prefix(transition, all 0.3s);
}

#header-bottom-right {
	background: none;
	position: absolute;
	right: 28px;
	bottom: 20px;
	top: 75px !important;
	text-shadow: 0px 1px 0px #000000;
	line-height: 20px;
}

#header-bottom-right #userbarToggle,
#header-bottom-right #RESAccountSwitcherIcon,
#header-bottom-right #openRESPrefs,
#header-bottom-right .separator {
	display: none;
}

#header-bottom-right .user {
	line-height: 17px;
	text-align: right;
	display: block;
}

#header-bottom-right .user > a {
	font-size: 14px;
	color: $header-link;
	display: block;
}

#header-bottom-right .user .userkarma {
	border: 0;
	display: inline-block;
}

#header-bottom-right .user .userkarma a {
	font-size: 12px;
	font-weight: normal;
	color: $header-link;
}

#header-bottom-right #mail, 
#header-bottom-right #modmail, 
#header-bottom-right ul.flat-list {
	margin-right: 15px;
}

#header-bottom-right #mail {
	background: url($mail-icon) no-repeat;
	width: 20px;
	height: 16px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: bottom;
}

#header-bottom-right #mail.havemail {
	background-position: 0px 0px;
	@include vendor-prefix(animation, haveMailPulse 3s ease-in-out infinite);
}

#header-bottom-right #mail.nohavemail {
	background-position: 0px -20px;
}

@include keyframes(haveMailPulse) {
	from {
		@include vendor-prefix(box-shadow, 0 0 9px $mail-pulse); 
	}

	50% { 
		@include vendor-prefix(box-shadow, 0 0 18px $mail-pulse);
	}

	to { 
		@include vendor-prefix(box-shadow, 0 0 9px $mail-pulse);
	}
}

#header-bottom-right a {
	color: $header-link-selected;
	font-size: 12px;
	font-weight: normal;
}

#header-bottom-left:after {
	background: transparent url($header-parallax-smoke) repeat;
	content: "";
	z-index: -200;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 10000px;
	height: 181px;
	@include vendor-prefix(animation, sidescroll 60s linear infinite);
}

@include keyframes(sidescroll) {
	from {
		@include vendor-prefix(transform, translateX(0px));
	}

	to {
		@include vendor-prefix(transform, translateX(-1600px));
	}
}

#sr-header-area, .drop-choices {
	background: $dark-blue;
	border: 1px solid $black;
	padding: 5px;
	opacity: 0.5;
	@include vendor-prefix(transition, all 0.3s);
}

.drop-choices {
	opacity: 1.0;
	z-index: 100;
}

#sr-header-area:hover {
	opacity: 1.0;
	@include vendor-prefix(transition, all 0.3s);
}

#sr-header-area a {
	color: $header-link;
}

#sr-header-area a:hover {
	color: $header-link-hover;
	text-decoration: none;
}

#sr-header-area .dropdown.srdrop .selected {
	color: $header-link;
}

#sr-header-area .dropdown.srdrop .selected:hover {
	color: $header-link-hover;
	text-decoration: none;
}

#header a.choice, #viewImagesButton {
	display: inline-block;
}