$header-bg: '%%header-blur-bg11%%';
$blue-overlay-bg: '%%blue-overlay-bg%%';
$logo: '%%logo-states%%';
$mail-icon: '%%mail-states%%';
$white-18: '%%white-18%%';
$main-bg: '%%main-bg2%%';
$thumb-frame: '%%thumb-frame%%';
$baked: '%%ros-baked%%';
$quote-bg: '%%quote-bg%%';
$header-parallax-smoke: '%%header-parallax-smoke%%';
$entry-selected: '%%entry-selected%%';