@import "compass/utilities/sprites";
$sprites: sprite-map("sprites/*.png", $layout: smart);
$link-flair: sprite-map("link-flair/*.png", $layout: smart);
$user-flair: sprite-map("user-flair/*.png", $layout: smart);

$header-img: '%%header%%';
$header-img-blur: '%%header-blur%%';
$diablo-logo: '%%diablo-logo%%';
$blizz-link-glow: '%%blizz-glow%%';
$selected-link-glow: '%%selected-glow%%';
$sticky-link-glow: '%%sticky-glow%%';
$footer-background: '%%footer-background%%';
$thin-border: '%%thin-border%%';
$thick-border: '%%thick-border%%';
$thick-border-fill: '%%thick-border-fill%%';
$button-border: '%%button-border%%';
$button-fill: '%%button-fill%%';
$button-border-pressed: '%%button-border-pressed%%';
$button-fill-pressed: '%%button-fill-pressed%%';
$countdown: '%%release-progress-bar%%';

$spritebg: url('%%sprites%%');
$linkflairbg: url('%%link-flair%%');
$userflairbg: url('%%user-flair%%');

.rules-button {
  width: 85px;
  height: 71px;
  background: $spritebg;
  background-position: sprite-position($sprites, 'rules-button');
  display: inline-block;

  &:hover {
    background-position: sprite-position($sprites, 'rules-button', 0px, -71px);
  }
}

.discord-button {
  width: 85px;
  height: 71px;
  max-height: 71px;
  background: $spritebg;
  background-position: sprite-position($sprites, 'discord-button');
  display: inline-block;

  &:hover {
    background-position: sprite-position($sprites, 'discord-button', 0px, -71px);
  }
}

.embossed-button {
  border-width: 12px 15px 12px 15px;
  border-style: solid;
  border-color: transparent;
  @include vendor-prefix(border-image, url($button-border) 12 15 12 15 round);
  background: url($button-fill);
  background-clip: padding-box;
  padding: 4px;

  &:active {
    @include vendor-prefix(border-image, url($button-border-pressed) 12 15 12 15 round);
    background: url($button-fill-pressed);
    background-clip: padding-box;
    line-height: 37px;
  }
}

.embossed-button-text {
  color: #fff;
  text-shadow: 0px 2px 1px #000, 0px 1px 0px #000, 0px -1px 1px #000, 0px -1px 2px #000, 0px -1px 2px #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
}

.thin-border {
  border: 2px solid transparent;
  @include vendor-prefix(border-image, url($thin-border) 2 2 round);
}

.thick-border {
  border: 8px solid transparent;
  @include vendor-prefix(border-image, url($thick-border) 8 8 round);
  background-color: $site-table-background-color;
}
