@import "compass/utilities/sprites";
$sprites: sprite-map("sprites/*.png", $layout: smart);
$link-flair: sprite-map("link-flair/*.png", $layout: smart);

$diablo: '%%diablo%%';
$diablo-blur: '%%diablo-blur%%';
$diablo-logo: '%%diablo-logo%%';
$blizz-link-glow: '%%blizz-glow%%';
$selected-link-glow: '%%selected-glow%%';
$sticky-link-glow: '%%sticky-glow%%';
$footer-background: '%%footer-background%%';
$thin-border: '%%thin-border%%';
$thick-border: '%%thick-border%%';
$button-border: '%%button-border%%';
$button-fill: '%%button-fill%%';

$spritebg: url('%%sprites%%');
$linkflairbg: url('%%link-flair%%');


.pentagram-small {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: $spritebg;
	@include vendor-prefix(transform, translatez(0));
}

@for $i from 1 through 5 {
	@include keyframes(pentagram-small-#{$i}) {
		100% {
			background-position: sprite-position($sprites, 'pentagram-small-#{$i}', 160px, 0px);
		}
	}

	.pentagram-small-#{$i} {
		@extend .pentagram-small;
		@include vendor-prefix(animation, pentagram-small-#{$i} 0.5s steps(8) infinite);
		background-position: sprite-position($sprites, 'pentagram-small-#{$i}');
	}
}
