@import 'colors';
@import 'images';

#header ~ div.content {
  margin: 16px 332px 16px 16px;
}

#siteTable,
#siteTable_organic {
  display: block;
  background: $blue3;
  border: 1px solid $blue4;
  border-radius: 2px;

  .link.promotedlink.promoted {
    background-color: $blue3;
  }

  .thing.link,
  .thing.link.promoted.promotedlink {
    border-bottom: 2px solid $blue4;
    padding: 16px;
    margin: 0px;
    position: relative;

    &.stickied {
      background: url($sticky-link-glow) bottom left no-repeat;
    }

    &.last-clicked {
      border: none;
      border-bottom: 2px solid $blue4;
    }

    .entry p.title {
      border-bottom: 1px dashed $link-title-border-color;
      padding-bottom: 4px;
    }

    &.stickied a.title, 
    .tagline .stickied-tagline {
      color: $link-sticky-title-color;
    }

    .rank {
      display: none;
    }

    a.title {
      letter-spacing: 1px;
    }

    .tagline, 
    .buttons li a, 
    .domain, 
    .domain a {
      font-variant: small-caps;
      font-size: 12px;
      font-weight: bold;
    }

    .tagline {
      color: $link-buttons-color;
      margin-top: 2px;

      a.author {
        color: $user-color;

        &.moderator {
          color: $moderator-color;
        }

        &.friend {
          color: $friend-color;
        }
      }
    }

    .buttons li a {
      color: $link-buttons-color;
    }

    .domain {
      color: $blue3;

      &:before {
        color: $link-domain-color;
        content: "/";
      }

      a {
        color: $link-domain-color;
      }
    }

    .expando-button {
      margin: 2px 8px 0px 0px;
      background: $spritebg;

      &.collapsed {
        $image: 'expando-normal';
        @include sprite-dimensions($sprites, $image);
        @include sprite-max-dimensions($sprites, $image);
        background-position: sprite-position($sprites, $image);
      }

      &.expanded {
        $image: 'expando-activated';
        @include sprite-dimensions($sprites, $image);
        @include sprite-max-dimensions($sprites, $image);
        background-position: sprite-position($sprites, $image);
      }
    }

    &.linkflair a.thumbnail {
      margin: 12px 8px 0px 0px;
    }

    a.thumbnail {
      @include sprite-dimensions($sprites, 'thumb-frame');
      @include vendor-prefix(background-clip, content-box !important);
      position: relative;
      margin: 3px 8px 0px 0px;

      img {
        @include sprite-dimensions($sprites, 'thumb-frame');
      }

      &:after {
        @include sprite-dimensions($sprites, 'thumb-frame');
        content: " ";
        display: block;
        background: $spritebg;
        background-position: sprite-position($sprites, 'thumb-frame');
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
      }
    }

    &.linkflair .entry {
      padding-top: 8px;
    }

    .entry, &.last-clicked {
      overflow: initial;
      position: relative;
    }

    a.title {
      color: #FFF;
    }

    a.title:visited {
      color: $blue2;
    }

    &.stickied a.title:visited {
      color: $link-sticky-title-visited-color;
    }

    .stamp {
      border-radius: 2px;
      padding: 2px;
      padding-right: 4px;
    }

    .buttons li.reported-stamp {
      background-color: transparent;
      border-color: $blue4 !important;
    }

    &.linkflair .midcol {
      margin-top: 13px;
    }

    .midcol {
      width: 6.1ex;
      z-index: 2;
      position: relative;
      margin: 3px 16px 0px 0px;

      .arrow {
        @include sprite-dimensions($sprites, 'upvote-normal');
        background: $spritebg;

        &.up {
          background-position: sprite-position($sprites, 'upvote-normal');
        }

        &.upmod {
          background-position: sprite-position($sprites, 'upvote-activated');
        }

        &.down {
          background-position: sprite-position($sprites, 'downvote-normal');
        }

        &.downmod {
          background-position: sprite-position($sprites, 'downvote-activated');
        }
      }
    }

    .usertext-body .md {
      background-color: transparent;
      border: none;
      border-radius: 0px;
      color: $post-text-color;
    }

    .media-embed, .usertext-body .md {
      margin-left: 99px;
      border-left: 2px solid $blue4;
      padding-left: 8px;
    }
  }
}