@import 'colors';
@import 'images';

input[name="uh"] ~ a:after, .user:before {
	position: absolute;
	top: -10px;
	right: 470px;
	width: 630px;
	height: 83px;
	font-style: italic;
	font-size: 15px;
	font-weight: normal;
	color: $header-link;
	z-index: 0;
	display: block;
	line-height: 83px;
	text-align: center;
	text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
}

input[name="uh"] ~ a:after {
	background: url($quote-bg) center center no-repeat;
}

.user:before {
	z-index: 10; 
	content: " ";
	top: 15px;
	right: 405px;
	height: 83px;
	width: 505px;
}

input[name="uh"][value^="a"] ~ a:after {content: "Hello my friend! Stay awhile, and listen!";}
input[name="uh"][value^="b"] ~ a:after {content: "Fool! You have just ensured the doom of this world.";}
input[name="uh"][value^="c"] ~ a:after {content: "Not even death can save you from me...";}
input[name="uh"][value^="d"] ~ a:after {content: "My brothers have escaped you.";}
input[name="uh"][value^="e"] ~ a:after {content: "My brothers will not have died in vain!";}
input[name="uh"][value^="f"] ~ a:after {content: "You thought you were so clever, that you would outwit us all.";}
input[name="uh"][value^="g"] ~ a:after {content: "There is no need for this debate to continue... or to have even begun.";}
input[name="uh"][value^="h"] ~ a:after {content: "Greetings, stranger. I'm not surprised to see your kind here.";}
input[name="uh"][value^="i"] ~ a:after {content: "You now speak to Ormus.";}
input[name="uh"][value^="j"] ~ a:after {content: "I sense a soul in search of answers...";}
input[name="uh"][value^="k"] ~ a:after {content: "Damn it, I wish you people would just leave me alone!";}
input[name="uh"][value^="l"] ~ a:after {content: "You dare to bring the warmth of life into my tomb?";}
input[name="uh"][value^="m"] ~ a:after {content: "You were a templar, Jondar! How could you succumb to this... Coven?";}
input[name="uh"][value^="n"] ~ a:after {content: "You have quite a treasure there in that Horadric Cube.";}
input[name="uh"][value^="o"] ~ a:after {content: "All who oppose me, beware. ";}
input[name="uh"][value^="p"] ~ a:after {content: "I will cleanse this wilderness.";}
input[name="uh"][value^="q"] ~ a:after {content: "I shall purge this land of the shadow.";}
input[name="uh"][value^="r"] ~ a:after {content: "Evil beware!";}
input[name="uh"][value^="s"] ~ a:after {content: "This monastery reeks with evil and corruption. ";}
input[name="uh"][value^="t"] ~ a:after {content: "Ahh... Fresh meat!";}
input[name="uh"][value^="u"] ~ a:after {content: "You'll pay for your atrocities, Baal.";}
input[name="uh"][value^="v"] ~ a:after {content: "Is that all? ";}
input[name="uh"][value^="w"] ~ a:after {content: "Tyrael was a fool to have trusted me!";}
input[name="uh"][value^="x"] ~ a:after {content: "Pleeeease, no hurt, no kill. Keep alive and next time good bring to you.";}
input[name="uh"][value^="y"] ~ a:after {content: "I'm Gheed and I can already tell that I'll be your best friend in this forsaken camp.";}
input[name="uh"][value^="z"] ~ a:after {content: "Oh, forgive me, Tyrael, please. It... wasn't my fault.";}
input[name="uh"][value^="0"] ~ a:after {content: "Die, maggot!";}
input[name="uh"][value^="1"] ~ a:after {content: "Looking for Baal!?";}
input[name="uh"][value^="2"] ~ a:after {content: "This place is thick with the stench of ghouls.";}
input[name="uh"][value^="3"] ~ a:after {content: "I'm sorry. Did I break your concentration?";}
input[name="uh"][value^="4"] ~ a:after {content: "Your madness ends here, betrayer! ";}
input[name="uh"][value^="5"] ~ a:after {content: "Rest in peace Leoric. I'll find your son. ";}
input[name="uh"][value^="6"] ~ a:after {content: "I can see what you see not / Vision milky then eyes rot";}
input[name="uh"][value^="7"] ~ a:after {content: "Adria was my mother, but I don't know much about her. She died when I was very young.";}
input[name="uh"][value^="8"] ~ a:after {content: "Soon™";}
input[name="uh"][value^="9"] ~ a:after {content: "Well, what can I do for ya?";}
input[name="uh"][value^="aa"] ~ a:after {content: "Hope remains within the hearts of men.";}
input[name="uh"][value^="ab"] ~ a:after {content: "So it begins...";}
input[name="uh"][value^="ac"] ~ a:after {content: "Betrayal can never be forgiven.";}
input[name="uh"][value^="ad"] ~ a:after {content: "Black magic bars our way, but the will of a Templar is stronger!";}
input[name="uh"][value^="ae"] ~ a:after {content: "Evil cowers at the sight of one templar. Two will bring it to its knees!";}
input[name="uh"][value^="af"] ~ a:after {content: "Beware, foul demons and beasts.";}
input[name="uh"][value^="ag"] ~ a:after {content: "All who oppose me... beware.";}
input[name="uh"][value^="ah"] ~ a:after {content: "I will not be denied!";}
input[name="uh"][value^="ai"] ~ a:after {content: "Halt!";}
input[name="uh"][value^="aj"] ~ a:after {content: "You may not pass.";}
input[name="uh"][value^="ak"] ~ a:after {content: "Stay out of trouble.";}
input[name="uh"][value^="al"] ~ a:after {content: "Hail to you, champion.";}
input[name="uh"][value^="am"] ~ a:after {content: "My vote is for them... for I would see what they might become... and marvel in it.";}
input[name="uh"][value^="an"] ~ a:after {content: "How do I know I can trust you? Hmm?";}
input[name="uh"][value^="ao"] ~ a:after {content: "Well, well. The siege has everything in short supply...except fools.";}
input[name="uh"][value$="moo"] ~ a:after {content: "Moo! Moo moo moo moo moo.";}