@import 'colors';
@import 'images';
@import 'text';

.side {
  background: transparent;
  margin: 108px 16px 0px 16px;
  width: 300px;
  color: $post-text-color;

  .morelink,
  .disabled .morelink {
    @extend .embossed-button;
    padding: 4px;

    a {
      @extend .embossed-button-text;
    }

    .nub {
      display: none;
    }
  }

  #search {
    @extend .thin-border;
    position: absolute;
    top: 341px;
    right: 16px;
    background: #000;

    input[type=text] {
      width: 296px;
      border: none;
      background: transparent;
    }

    .infobar {
      background-color: #332a18;
      border-radius: 0px;
      @extend .thin-border;
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-top: 2px solid transparent;
      color: #b28938;
    }
  }

  .sidebox  {
    &.submit {
      position: absolute;
      top: 281px;

      &.submit-text {
        margin-left: 158px;
      }

      .morelink {
        width: 122px;
      }
    }

    &.create {
      display: none;
    }

    .spacer {
      background-color: transparent;
    }
  }

  .titlebox {
    @extend .thick-border;
    background: #000;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    &>* {
      order: 2;
      width: 100%;
    }
  }

  h1.redditname {
    display: none;
  }

  .subscribe-button {
    width: 180px;
    margin: 0 auto;
    display: block;
    margin-bottom: 16px;
    text-align: center;

    a.active {
      display: block;
    }

    .option {
      @extend .embossed-button;
      @extend .embossed-button-text;
    }
  } 

  .subscribers {
    display: block;
    text-align: center;
    font-size: 18px;
    font-variant: small-caps;
    margin-top: 16px;
    order: -1;

    .word {
      display: none;
    }

    .number:after {
      content: $subscriber-text;
    }
  }

  .users-online {
    display: block;
    text-align: center;
    font-size: 14px;
    font-variant: small-caps;
    margin-bottom: 16px;
    order: -1;

    .word {
      display: none;
    }

    .number:after {
      content: $online-now-text;
    }

    &:before {
      display: none;
    }
  }

  form.toggle, .leavemoderator {
    background: transparent;
    @extend .thin-border;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 8px;
    font-size: 12px;
  }

  .titlebox .tagline {
    font-size: 12px;
    margin: 0px 8px 8px 8px;
    a {
      color: $link-color;
    }
  }

  .usertext-body {
    @extend .thin-border;
    border-left: none;
    border-right: none;
    border-bottom: none;

    hr {
      @extend .thin-border;
      border-bottom: none;
      border-left: none;
      border-right: none;
      height: 0px;
      margin: 4px 0px;
    }

    a {
      color: $link-color;
    }

    h1 {
      padding: 0px 8px;
      font-variant: small-caps;
      font-weight: normal;
      font-size: 14px;

    }

    a[href="/smallText"], a[href="/s"] {
      display: none;
    }

    .rules-discord {
      @extend .embossed-button-text;
      vertical-align: bottom;
      text-align: center;
      padding-top: 49px;
      height: 22px;
      margin: 16px;
    }

    a[href$="#rules"] {
      @extend .rules-button;
      @extend .rules-discord;
    }

    a[href$="#discord"] {
      @extend .discord-button;
      @extend .rules-discord;
      float: right;
    }

    .game-button {
      width: 50px;
      height: 50px;
      text-indent: -999999px;
      display: inline-block;
      background: $spritebg;
    }

    a[href$="#hearthstone"] {
      @extend .game-button;
      background-position: sprite-position($sprites, 'hs');
      margin-left: 8px;

      &:hover {
        background-position: sprite-position($sprites, 'hs-hover');
      }
    }

    a[href$="#heroes"] {
      @extend .game-button;
      background-position: sprite-position($sprites, 'hots');

      &:hover {
        background-position: sprite-position($sprites, 'hots-hover');
      }
    }

    a[href$="#overwatch"] {
      @extend .game-button;
      background-position: sprite-position($sprites, 'ow');

      &:hover {
        background-position: sprite-position($sprites, 'ow-hover');
      }
    }

    a[href$="#starcraft"] {
      @extend .game-button;
      background-position: sprite-position($sprites, 'sc2');

      &:hover {
        background-position: sprite-position($sprites, 'sc2-hover');
      }
    }

    a[href$="#warcraft"] {
      @extend .game-button;
      background-position: sprite-position($sprites, 'wow');

      &:hover {
        background-position: sprite-position($sprites, 'wow-hover');
      }
    }

    .social-media-button {
      display: inline-block;
      text-indent: -999999px;
      background: $spritebg;
      margin-left: 16px;
    }

    a[href="http://www.twitter.com/redditdiablo"] {
      @extend .social-media-button;
      background-position: sprite-position($sprites, 'twitter');
      width: 17px;
      height: 14px;
    }

    a[href="http://www.twitch.tv/rdiablo"] {
      @extend .social-media-button;
      background-position: sprite-position($sprites, 'twitch');
      width: 16px;
      height: 17px;
    }

    a[href="http://www.youtube.com/redditdiablo"] {
      @extend .social-media-button;
      background-position: sprite-position($sprites, 'youtube');
      width: 23px;
      height: 16px;
    }

    .md {
      color: $sidebar-text-color;
    }

    ul {
      margin-bottom: 16px;

      li a:hover {
        position: relative;
        @extend .surround-pentagram;

        &:before, &:after {
          top: -3px;
        }

        &:before {
          left: -21px;
        }

        &:after {
          right: -21px;
        }
      }
    }

    // Weekly thread drop-down
    h4 {
      position: absolute;
      display: block;
      z-index: 3;
      top: 215px;
      left: 16px;
      border-left: 1px solid #111;
      border-right: 1px solid #111;
      padding: 16px;
      margin: 0;
      text-transform: uppercase;
      color: $link-color2;
      letter-spacing: 2px;
      font-weight: normal;
      background: transparent;
      font-size: 12px;
      @include vendor-prefix(transition, background 0.5s);

      &:hover {
        background: rgba(255, 255, 255, 0.05);
        @include vendor-prefix(transition, background 0.5s);
        @extend .surround-pentagram;
      }

      &:hover del em {
        display: block;
      }

      del {
        color: $link-color2;
        position: relative;
        text-decoration: none;
        display: inline-block;

        em {
          @extend .thin-border;
          display: none;
          width: 200px;
          position: absolute;
          font-style: normal;
          background: #000;
          padding: 8px;
          left: -16px;
          top: 23px;

          a {
            display: block;
            line-height: 2;
            @include vendor-prefix(transition, background 0.5s);

            &:hover {
              background: rgba(255, 255, 255, 0.05);
              @include vendor-prefix(transition, background 0.5s);
            }
          }
        }
      }
    }
  }

  .titlebox .bottom {
    display: none;
  }

  .gadget .midcol {
    display: none;
  }

  .sidecontentbox {
    .title {
      @extend .thin-border;
      background: #000;
      padding: 8px;

      h1 {
        text-transform: capitalize;
        color: $sidebar-text-color;
        font-weight: bold;
      }
    }

    a.helplink {
      margin-right: 10px;
      margin-top: 11px;
    }

    .content {
      border: 8px solid transparent;
      @include vendor-prefix(border-image, url($thick-border) 8 8 round);
      background: #000;
    }
  }

  .icon-menu a {
    background: transparent;
  }

  .login-form-side {
    @extend .thin-border;
    background: #000;

    input[type=text],
    input[type=password] {
      @extend .thin-border;
      background: #000;
    }
  }
}

