@import 'colors';
@import 'images';
@import 'text';

.side {
	background: url($blue-overlay-bg);
	margin-right: 10px;
	margin-top: 10px;
	padding: 20px;
	border:1px solid $medium-blue;
	color: $header-link;
	text-shadow: 0px 1px #000000;
}

.side #search {
	position: absolute;
	z-index: 4;
	top: 157px;
}

.side #search input[type="text"] {
	background: url($white-18);
	color: #ffffff;
	height: 23px;
	font-size: 14px;
	border-radius: 2px;
}

.side #search input[type="text"]:focus {
	outline: none;
}

.side .sidebox.submit {
	border: 1px solid $blue-button-dark-border;
	border-radius: 2px;
}

.side .sidebox.submit-text {
	margin-top: 24px;
}

.side .submit .morelink,
.side a[href="http://chat.mibbit.com/?url=irc://irc.esper.net/diablo"],
.side a[href="http://tinyurl.com/rdiablomumble"] {
	background: $blue-button-fill;
	border: 1px solid $blue-button-light-border;
	@include vendor-prefix(transition, all 0.5s);
}

.side .submit .morelink:hover,
.side a[href="http://chat.mibbit.com/?url=irc://irc.esper.net/diablo"]:hover,
.side a[href="http://tinyurl.com/rdiablomumble"]:hover {
	@include vendor-prefix(transition, all 0.5s);
	background: $blue-button-light-border;
}

.side .submit .morelink a,
button {
	color: #ffffff !important;
	font-weight: normal;
	text-shadow: 0px 1px 0px #000000;
	font-size: 14px;
}

.side .submit .morelink a {
	margin-top: -20px;
	float: left;
}

button {
	padding: 10px;
}

.side .subscribe-button, 
.RESDashboardToggle {
	display: block;
	border: 1px solid $red-button-dark-border;
	border-radius: 2px;
	margin: 7px 0 12px 0;
}

.side .subscribe-button .active,
.RESDashboardToggle {
	display: block;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: normal;
	height: 29px;
	line-height: 29px;	
	text-align: center;
	padding: 0;
	margin: 0;
	border-radius: 0px;
}

.RESshortcut {
	height: 29px;
	line-height: 29px;
}

.RESDashboardToggle,
.RESshortcut {
	margin: 7px 0 12px 0 !important;
	padding: 0 !important;
	width: 99% !important;
	background-position: center bottom;
	background-repeat: repeat-x;
	font-weight: normal !important;
	font-size: 14px !important;
	border-radius: 2px !important;
	text-align: center;
}

.side .subscribe-button .remove, 
.RESDashboardToggle.remove {
	border: 1px solid $red-button-light-border !important;
	background: $red-button-fill !important;
	@include vendor-prefix(transition, all 0.5s);
}

.side .subscribe-button .remove:hover, 
.RESDashboardToggle.remove:hover {
	background: $red-button-light-border !important;
	@include vendor-prefix(transition, all 0.5s);
}

.side .subscribe-button .add, 
.RESDashboardToggle,
.RESshortcut,
.sidecontentbox a.helplink,
button {
	border: 1px solid $green-button-light-border !important;
	background: $green-button-fill !important;
	@include vendor-prefix(transition, all 0.5s);
}

.side .subscribe-button .add:hover, 
.RESDashboardToggle:hover,
button:hover {
	background: $green-button-light-border !important;
	@include vendor-prefix(transition, all 0.5s);
}

.sidebox .spacer, 
.login-form-side, 
.titlebox form.toggle, 
.leavemoderator {
	background: transparent;
	border: 0;
}

.side .submit .morelink .nub,
.side .bottom, 
.side .sidebox.create,
.side h1.redditname {
	display: none;
}

.side .subscribers {
	display: inline-block;
	font-size: 14px;
}

.side .subscribers .number:after {
	content: $subscriber-text;
}

.side .subscribers .word,
.side .users-online .word {
	display: none;
}

.side .users-online {
	display: inline;
	margin: 0;
	font-size: 14px;
	margin-left: 5px;
}

.side .users-online:before {
	background: transparent;
	width: 0;
	margin: 0;
}

.side .users-online .number:after {
	content: $online-now-text;
}

.side .usertext-body .md {
	padding-top: 18px;
	font-size: 14px;
}

.side hr {
	border: 0;
	height: 1px;
	background: $medium-blue;
}

.side ul {
	list-style: none;
}

.sidecontentbox .title h1 {
	color: #ffffff;
	font-size: 14px;
	text-transform: lowercase;
}

.sidecontentbox .content {
	border: 0;
	margin-left: 2em;
}

.side .icon-menu a {
	background: transparent;
}

.side #search #searchexpando {
	background-color: $frosted-bg-blue;
	border: 1px solid $frosted-border-blue;
	margin-top: 10px;
}

.side #search #searchexpando a {
	color: $frosted-border-blue;
}

.side #search #searchexpando .searchexpando-submit {
	border: 1px solid $blue-button-dark-border;
	padding: 0;
	margin-top: 10px;
}

.side #search #searchexpando .searchexpando-submit input {
	display: block;
	width: 100%;
	height: 31px;
	background : $blue-button-fill;
	border: 1px solid $blue-button-light-border;
	margin: 0;
	font-size: 14px;
	@include vendor-prefix(transition, all 0.5s);
}

.side #search #searchexpando .searchexpando-submit input:hover {
	background: $blue-button-light-border !important;
	@include vendor-prefix(transition, all 0.5s);
}

.sidecontentbox a.helplink {
	font-size: 10px;
	margin-top: 0px;
	padding: 3px;
	color: $header-link-hover;
}

.submit-text .morelink, 
.submit-link .morelink {
	position: relative;
	z-index: 3;
}

.submit-text::before, 
.submit-link::before {
	position: relative;
	z-index: 2;
	border-radius: 2px;
	border: 1px solid $red-button-light-border;
	background: $red-button-fill;
	padding: 3px;
	opacity: 0;
	float: left;
	top: 6px;
	left: 0px;
	content: "Please check the rules first";
	@include vendor-prefix(transition, 'opacity .2s linear,left .2s ease');
}

.submit-text:hover::before, 
.submit-link:hover::before {
	opacity: 1;
	left: -160px;
}

.side a[href="http://chat.mibbit.com/?url=irc://irc.esper.net/diablo"],
.side a[href="http://tinyurl.com/rdiablomumble"] {
	padding: 5px;
	border-radius: 2px;
	color: $header-link-hover;
	margin-bottom: 10px;
	display: inline-block !important;
	text-align: center;
	width: 135px;
}

a[href="/s"] {
	display: none;
}

a[href="/smallText"] {
	font-size: x-small;
}

.side #search #searchexpando a {
	color: $header-link-selected;
}

.side .md a[href*="#game"]{
	content:"";
	display:inline-block;
	height:50px;
	width:50px;
	background:url("%%blizz-icons%%") no-repeat;
	margin-right:5px
}

.side .md a[href*="#game"]:hover{opacity:.8}

.side .md a[href*="#official"]:last-of-type{margin-right:0}
.side .md a[href*="#overwatch"]{background-position:0px 0px}
.side .md a[href*="#hots"]{background-position:0px -50px}
.side .md a[href*="#starcraft"]{background-position:0px -100px}
.side .md a[href*="#warcraft"]{background-position:0px -150px}
.side .md a[href*="#hearthstone"]{background-position:0px -200px}