.side .usertext-body .md hr:nth-of-type(2) + p { text-align: center; margin-bottom: 10px; }
.side a[href="http://www.twitter.com/redditdiablo"] {
	text-indent: -9999px;
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(%%ros-baked%%) -142px -14px no-repeat;
	margin-left: 10px;
	margin-right: 10px;
}

.side a[href="http://www.youtube.com/redditdiablo"] {
	text-indent: -9999px;
	display: inline-block;
	width: 23px;
	height: 16px;
	background: url(%%ros-baked%%) -160px -14px no-repeat;
	margin-right: 10px;
}

.side a[href="http://www.twitch.tv/rdiablo"] {
	text-indent: -9999px;
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(%%ros-baked%%) -184px -14px no-repeat;
	margin-right: 10px;
}

.side a[href="http://steamcommunity.com/groups/rdiablo"] {
	text-indent: -9999px;
	display: inline-block;
	width: 24px;
	height: 16px;
	background: url(%%ros-baked%%) -201px -14px no-repeat;
	margin-right: 10px;
}	

.side a[href*="#discord"] {
	text-indent: -9999px;
	display: inline-block;
	width: 300px;
	height: 50px;
	background: url(%%discordcss%%) 0px 0px no-repeat;

}	

.side a[href*="#discord"]:hover {
	text-indent: -9999px;
	display: inline-block;
	width: 300px;
	height: 50px;
	background: url(%%discordcss%%) 0px -50px no-repeat;
}