a[href="/spoiler"] {
	display: block;
	overflow: hidden;
	background: url(%%hell-spoiler%%) top center #000 no-repeat;
	border-radius: 5px;
	padding: 10px;
	padding-top: 30px;
	min-width: 273px;
	cursor: default;
	color: #000 !important;
}

a[href="/spoiler"]:hover {
	color: #E3C4A8 !important;
}

span.keyNavAnnotation {
	display: none !important
}

a[href="#s"],
.md p > a[href="#s"] {
	color: #fff !important;
	cursor: default;
}

a[href="#s"]::after,
.md p > a[href="#s"]::after {
	background: url(%%hell-baked%%) -139px -106px #000 no-repeat;
	display: inline-block;
	height: 28px;
	width: 93px;
	overflow: hidden;
	content: attr(title);
	color: #000;
	visibility: visible;
}

a[href="#s"]:hover,
.md p > a[href="#s"]:hover {
	color: #E3C4A8 !important;
}

a[href="#s"]:hover::after,
a[href="#s"]:active::after,
.md p > a[href="#s"]:hover::after,
.md p > a[href="#s"]:active::after {
	color: #E3C4A8;
}