.side .md h4:before {
    content: url(%%cain-32%%);
    position: absolute;
    margin-top:-0px;
    margin-left: -25px;}


.titlebox form {position: static}

.side h4:nth-of-type(1) {
/* change NONE to BLOCK to turn on sticky */
    display: BLOCK ;
    position:absolute;
    white-space: nowrap;
    z-index: 100;
    top: 175px; 
color:#000;
    border:0px solid black;
    left: 150px;
    width:70%;
    opacity:1;
    font-size: 13px;
    font-weight:bold;

 text-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000;
    line-height: 13px;
    height: 20px;
    border-radius:  2px;
    padding: 14px 10px 4px 10px;  }

.side .md h4 a {
    color: #999;
    text-shadow: 0 0 10px #3366ff, 0 0 10px #3366ff;}