.titlebox form {
    position: static;
}

.side .md h4:nth-of-type(1) {
    position: absolute;
    z-index: 200;
    background: $dark-blue;
    top: 181px; 
    left: 6px;
    right: 0px;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    padding: 3px;
    padding-left: 40px;
    margin-right: 364px;
    border: 1px solid #000;
    color: $header-link-selected;
}

.side .md h4 a {
    margin: 0 10px;
    color: $header-link;
    /*text-shadow: 0 0 10px $header-link-selected, 0 0 10px $header-link-selected;*/
    @include vendor-prefix(transition, all 0.3s);
}

.side .md h4 a:hover {
    margin: 0 13px;
    color: $header-link-hover;
    @include vendor-prefix(transition, all 0.3s);
}