.titlebox form {
    position: static;
}

.side .md h4:nth-of-type(1) {
    position: absolute;
    z-index: 200;
    background: $dark-blue;
    top: 181px; 
    left: 6px;
    right: 0px;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
    padding: 3px;
    padding-left: 40px;
    margin-right: 364px;
    border: 1px solid #000;
}

.side .md h4 a {
    color: #999;
    text-shadow: 0 0 10px #3366ff, 0 0 10px #3366ff;
}