@import 'colors';

.infobar, .usertext.border .usertext-body {
	background: $red-button-fill;
	border: 1px solid $red-button-light-border;
}

.usertext.border .usertext-body {
	border: none;
}

.roundfield, 
.content.submit .info-notice,
.linefield {
	background-color: $dark-blue;
}

.submit_text.roundfield {
    position: absolute;
    top: 80px;
}

.formtabs-content .infobar {
	margin-bottom: 230px;
}

.content .spacer {
	margin-bottom: 230px;
}