$subscriber-text: " heroes trying to get onto the PTR ";
$online-now-text: " servers available";
$announcement-pretext: "Announcement - ";
$url-separator: "/ ";

$link-stats-before-number: "Sells for ";
$link-stats-after-number: " gold";
$link-stats-vote-modifier: "+";
$link-stats-vote-modifier-desc: " to Votes";

$add-flair-text: "Add flair to this post";

$submitted: "Submitted ";