$subscriber-text: " Heroes";
$online-now-text: " Nephalem";
$announcement-pretext: "Sticky - ";
$url-separator: "/ ";

$link-stats-before-number: "Sells for ";
$link-stats-after-number: " gold";
$link-stats-vote-modifier: "+";
$link-stats-vote-modifier-desc: " to Votes";

$add-flair-text: "Add flair to this post";

$submitted: "Submitted ";