$subscriber-text: " Nephalem, ";
$online-now-text: " online now";
$announcement-pretext: "Announcement - ";
$url-separator: "/ ";

$link-stats-before-number: "Sells for ";
$link-stats-after-number: " gold";
$link-stats-vote-modifier: "+";
$link-stats-up-modifier-desc: " to up-votes";
$link-stats-down-modifier-desc: " to down-votes";

$add-flair-text: "Add flair to this post";