
@import 'colors';

.wiki-page .wiki-page-content .md.wiki h1, 
.wiki-page .wiki-page-content .md.wiki h2, 
.wiki-page .wiki-page-content .md.wiki h3, 
.wiki-page .wiki-page-content .md.wiki h4, 
.wiki-page .wiki-page-content .md.wiki h5, 
.wiki-page .wiki-page-content .md.wiki h6 {
	color: $post-text-color;
}

.wiki-page .wiki-page-content {
  margin: 15px 15px 15px 15px !important;

  .md {
  	color: $post-text-color;
  }
}

.modtools-page>div.content {
	margin-right: 360px;
}

.wiki-page .wiki-page-content .wiki>.toc>ul, .wiki-page .pageactions {
	@extend .thin-border;
}