#header {
  height: 181px;
  background: url("%%header-blur-bg11%%") left bottom repeat-x;
  z-index: 4;
  border-bottom: none; }

#header-bottom-left {
  background: url("%%blue-overlay-bg%%");
  height: 151px;
  border-bottom: 1px solid #181818; }

#header #header-img-a {
  padding-left: 22px;
  padding-right: 22px; }

#header #header-img {
  position: relative;
  z-index: 13; }

#header .hover.pagename.redditname {
  background: url("%%logo-states%%");
  display: inline-block;
  width: 519px;
  height: 125px;
  margin-left: -110px;
  position: relative;
  z-index: 12; }

#header .hover.pagename.redditname:hover {
  background-position: 0px -125px; }

#header .hover.pagename.redditname a {
  display: block;
  text-indent: -9999px;
  width: 250px;
  height: 100px;
  margin-left: 134px;
  margin-top: 10px; }

#header ul.tabmenu {
  display: block;
  border-top: 1px solid #181818;
  padding-left: 37px;
  padding-right: 22px;
  margin: 0 0;
  height: 25px;
  line-height: 25px; }

#header ul.tabmenu li a {
  text-transform: capitalize;
  background: none;
  font-size: 14px;
  color: #d9f3ff;
  font-weight: normal;
  text-shadow: 0px 1px 0px #000000; }

#header ul.tabmenu li.selected a {
  color: #2ba5dc;
  border: none; }

#header ul.tabmenu li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#header-bottom-right {
  background: none;
  position: absolute;
  right: 28px;
  bottom: 20px;
  top: 75px !important;
  text-shadow: 0px 1px 0px #000000;
  line-height: 20px; }

#header-bottom-right #userbarToggle,
#header-bottom-right #RESAccountSwitcherIcon,
#header-bottom-right .separator {
  display: none; }

#header-bottom-right #openRESPrefs {
  height: 15px;
  margin-right: 10px; }

body #RESMainGearOverlay.RESGearOverlay {
  top: 115px !important; }

body #RESPrefsDropdown.RESDropdownList {
  top: 142px !important; }

#header-bottom-right .user {
  line-height: 17px;
  text-align: right;
  display: block; }

#header-bottom-right .user > a {
  font-size: 14px;
  color: #d9f3ff;
  display: block; }

#header-bottom-right .user .userkarma {
  border: 0;
  display: inline-block; }

#header-bottom-right .user .userkarma a {
  font-size: 12px;
  font-weight: normal;
  color: #d9f3ff; }

#header-bottom-right #mail,
#header-bottom-right #modmail,
#header-bottom-right ul.flat-list {
  margin-right: 15px; }

#header-bottom-right #mail {
  background: url("%%mail-states%%") no-repeat;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle; }

#header-bottom-right #mail.havemail {
  background-position: 0px 0px;
  -webkit-animation: haveMailPulse 3s ease-in-out infinite;
  -moz-animation: haveMailPulse 3s ease-in-out infinite;
  -ms-animation: haveMailPulse 3s ease-in-out infinite;
  -o-animation: haveMailPulse 3s ease-in-out infinite;
  animation: haveMailPulse 3s ease-in-out infinite; }

#header-bottom-right #mail.nohavemail {
  background-position: 0px -16px; }

@-webkit-keyframes haveMailPulse {
  from {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; }
  50% {
    -webkit-box-shadow: 0 0 18px #ff00f0;
    -moz-box-shadow: 0 0 18px #ff00f0;
    -ms-box-shadow: 0 0 18px #ff00f0;
    -o-box-shadow: 0 0 18px #ff00f0;
    box-shadow: 0 0 18px #ff00f0; }
  to {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; } }
@-moz-keyframes haveMailPulse {
  from {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; }
  50% {
    -webkit-box-shadow: 0 0 18px #ff00f0;
    -moz-box-shadow: 0 0 18px #ff00f0;
    -ms-box-shadow: 0 0 18px #ff00f0;
    -o-box-shadow: 0 0 18px #ff00f0;
    box-shadow: 0 0 18px #ff00f0; }
  to {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; } }
@-ms-keyframes haveMailPulse {
  from {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; }
  50% {
    -webkit-box-shadow: 0 0 18px #ff00f0;
    -moz-box-shadow: 0 0 18px #ff00f0;
    -ms-box-shadow: 0 0 18px #ff00f0;
    -o-box-shadow: 0 0 18px #ff00f0;
    box-shadow: 0 0 18px #ff00f0; }
  to {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; } }
@-o-keyframes haveMailPulse {
  from {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; }
  50% {
    -webkit-box-shadow: 0 0 18px #ff00f0;
    -moz-box-shadow: 0 0 18px #ff00f0;
    -ms-box-shadow: 0 0 18px #ff00f0;
    -o-box-shadow: 0 0 18px #ff00f0;
    box-shadow: 0 0 18px #ff00f0; }
  to {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; } }
@keyframes haveMailPulse {
  from {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; }
  50% {
    -webkit-box-shadow: 0 0 18px #ff00f0;
    -moz-box-shadow: 0 0 18px #ff00f0;
    -ms-box-shadow: 0 0 18px #ff00f0;
    -o-box-shadow: 0 0 18px #ff00f0;
    box-shadow: 0 0 18px #ff00f0; }
  to {
    -webkit-box-shadow: 0 0 9px #ff00f0;
    -moz-box-shadow: 0 0 9px #ff00f0;
    -ms-box-shadow: 0 0 9px #ff00f0;
    -o-box-shadow: 0 0 9px #ff00f0;
    box-shadow: 0 0 9px #ff00f0; } }
#header-bottom-right a {
  color: #2ba5dc;
  font-size: 12px;
  font-weight: normal; }

#header-bottom-left:after {
  background: transparent url("%%header-parallax-smoke%%") repeat;
  content: "";
  z-index: -200;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 181px;
  -webkit-animation: sidescroll 30s linear infinite;
  -moz-animation: sidescroll 30s linear infinite;
  -ms-animation: sidescroll 30s linear infinite;
  -o-animation: sidescroll 30s linear infinite;
  animation: sidescroll 30s linear infinite;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

@-webkit-keyframes sidescroll {
  from {
    -webkit-background-position: 1600px 0;
    -moz-background-position: 1600px 0;
    -ms-background-position: 1600px 0;
    -o-background-position: 1600px 0;
    background-position: 1600px 0; }
  to {
    -webkit-background-position: 0 0;
    -moz-background-position: 0 0;
    -ms-background-position: 0 0;
    -o-background-position: 0 0;
    background-position: 0 0; } }
@-moz-keyframes sidescroll {
  from {
    -webkit-background-position: 1600px 0;
    -moz-background-position: 1600px 0;
    -ms-background-position: 1600px 0;
    -o-background-position: 1600px 0;
    background-position: 1600px 0; }
  to {
    -webkit-background-position: 0 0;
    -moz-background-position: 0 0;
    -ms-background-position: 0 0;
    -o-background-position: 0 0;
    background-position: 0 0; } }
@-ms-keyframes sidescroll {
  from {
    -webkit-background-position: 1600px 0;
    -moz-background-position: 1600px 0;
    -ms-background-position: 1600px 0;
    -o-background-position: 1600px 0;
    background-position: 1600px 0; }
  to {
    -webkit-background-position: 0 0;
    -moz-background-position: 0 0;
    -ms-background-position: 0 0;
    -o-background-position: 0 0;
    background-position: 0 0; } }
@-o-keyframes sidescroll {
  from {
    -webkit-background-position: 1600px 0;
    -moz-background-position: 1600px 0;
    -ms-background-position: 1600px 0;
    -o-background-position: 1600px 0;
    background-position: 1600px 0; }
  to {
    -webkit-background-position: 0 0;
    -moz-background-position: 0 0;
    -ms-background-position: 0 0;
    -o-background-position: 0 0;
    background-position: 0 0; } }
@keyframes sidescroll {
  from {
    -webkit-background-position: 1600px 0;
    -moz-background-position: 1600px 0;
    -ms-background-position: 1600px 0;
    -o-background-position: 1600px 0;
    background-position: 1600px 0; }
  to {
    -webkit-background-position: 0 0;
    -moz-background-position: 0 0;
    -ms-background-position: 0 0;
    -o-background-position: 0 0;
    background-position: 0 0; } }
#sr-header-area, .drop-choices {
  background: #0c1619;
  border: 1px solid #000000;
  padding: 5px;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.drop-choices {
  opacity: 1.0;
  z-index: 100; }

#sr-header-area:hover {
  opacity: 1.0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#sr-header-area a {
  color: #d9f3ff; }

#sr-header-area a:hover {
  color: #ffffff;
  text-decoration: none; }

#sr-header-area .dropdown.srdrop .selected {
  color: #d9f3ff; }

#sr-header-area .dropdown.srdrop .selected:hover {
  color: #ffffff;
  text-decoration: none; }

#header .tabmenu a.choice, #viewImagesButton {
  display: inline-block; }

.message-count {
  background-color: #233847;
  border: 1px solid #2c5c7e;
  margin-right: 5px; }

/* FOR BARBARIAN SPINNING
#header-img-a img{
    background:url('%%reddit-barb%%');
    display: inline-block;
    transform:rotateY(180deg);
    background-size:100% auto;
}

#header-img-a img:hover{
    content:" ";
    background:url('%%whirl%%');
    -webkit-animation: whirl 0.6s infinite linear;
    animation: whirl 0.6s infinite linear;
}


@-webkit-keyframes whirl {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    
  }
}
@keyframes whirl {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
*/
.side {
  background: url("%%blue-overlay-bg%%");
  margin-right: 10px;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #0e2a3d;
  color: #d9f3ff;
  text-shadow: 0px 1px #000000; }

.side #search {
  position: absolute;
  z-index: 4;
  top: 157px; }

.side #search input[type="text"] {
  background: url("%%white-18%%");
  color: #ffffff;
  height: 23px;
  font-size: 14px;
  border-radius: 2px; }

.side #search input[type="text"]:focus {
  outline: none; }

.side .sidebox.submit {
  border: 1px solid #132735;
  border-radius: 2px; }

.side .sidebox.submit-text {
  margin-top: 24px; }

.side .submit .morelink,
.side a[href="http://chat.mibbit.com/?url=irc://irc.esper.net/diablo"],
.side a[href="http://tinyurl.com/rdiablomumble"] {
  background: #233847;
  border: 1px solid #2c5c7e;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.side .submit .morelink:hover,
.side a[href="http://chat.mibbit.com/?url=irc://irc.esper.net/diablo"]:hover,
.side a[href="http://tinyurl.com/rdiablomumble"]:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #2c5c7e; }

.side .submit .morelink a,
button {
  color: #ffffff !important;
  font-weight: normal;
  text-shadow: 0px 1px 0px #000000;
  font-size: 14px; }

.side .submit .morelink a {
  margin-top: -20px;
  float: left; }

button {
  padding: 10px; }

.side .subscribe-button,
.RESDashboardToggle {
  display: block;
  border: 1px solid #351313;
  border-radius: 2px;
  margin: 7px 0 12px 0; }

.side .subscribe-button .active,
.RESDashboardToggle {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  height: 29px;
  line-height: 29px;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 0px; }

.RESshortcut {
  height: 29px;
  line-height: 29px; }

.RESDashboardToggle,
.RESshortcut {
  margin: 7px 0 12px 0 !important;
  padding: 0 !important;
  width: 99% !important;
  background-position: center bottom;
  background-repeat: repeat-x;
  font-weight: normal !important;
  font-size: 14px !important;
  border-radius: 2px !important; }

.side .subscribe-button .remove,
.RESDashboardToggle.remove {
  border: 1px solid #7e2c2c !important;
  background: #472323 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.side .subscribe-button .remove:hover,
.RESDashboardToggle.remove:hover {
  background: #7e2c2c !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.side .subscribe-button .add,
.RESDashboardToggle,
.RESshortcut,
.sidecontentbox a.helplink,
button {
  border: 1px solid #347e2c !important;
  background: #274723 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.side .subscribe-button .add:hover,
.RESDashboardToggle:hover,
button:hover {
  background: #347e2c !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.sidebox .spacer,
.login-form-side,
.titlebox form.toggle,
.leavemoderator {
  background: transparent;
  border: 0; }

.side .submit .morelink .nub,
.side .bottom,
.side .sidebox.create,
.side h1.redditname {
  display: none; }

.side .subscribers {
  display: inline-block;
  font-size: 14px; }

.side .subscribers .number:after {
  content: " heroes trying to get onto the PTR "; }

.side .subscribers .word,
.side .users-online .word {
  display: none; }

.side .users-online {
  display: inline;
  margin: 0;
  font-size: 14px;
  margin-left: 5px; }

.side .users-online:before {
  background: transparent;
  width: 0;
  margin: 0; }

.side .users-online .number:after {
  content: " servers available"; }

.side .usertext-body .md {
  padding-top: 18px;
  font-size: 14px; }

.side hr {
  border: 0;
  height: 1px;
  background: #0e2a3d; }

.side ul {
  list-style: none; }

.sidecontentbox .title h1 {
  color: #ffffff;
  font-size: 14px;
  text-transform: lowercase; }

.sidecontentbox .content {
  border: 0;
  margin-left: 2em; }

.side .icon-menu a {
  background: transparent; }

.side #search #searchexpando {
  background-color: #39464c;
  border: 1px solid #808080;
  margin-top: 10px; }

.side #search #searchexpando a {
  color: #808080; }

.side #search #searchexpando .searchexpando-submit {
  border: 1px solid #132735;
  padding: 0;
  margin-top: 10px; }

.side #search #searchexpando .searchexpando-submit input {
  display: block;
  width: 100%;
  height: 31px;
  background: #233847;
  border: 1px solid #2c5c7e;
  margin: 0;
  font-size: 14px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.side #search #searchexpando .searchexpando-submit input:hover {
  background: #2c5c7e !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.sidecontentbox a.helplink {
  font-size: 10px;
  margin-top: 0px;
  padding: 3px;
  color: #ffffff; }

.submit-text .morelink,
.submit-link .morelink {
  position: relative;
  z-index: 3; }

.submit-text::before,
.submit-link::before {
  position: relative;
  z-index: 2;
  border-radius: 2px;
  border: 1px solid #7e2c2c;
  background: #472323;
  padding: 3px;
  opacity: 0;
  float: left;
  top: 6px;
  left: 0px;
  content: "Please check the rules first";
  -webkit-transition: opacity .2s linear,left .2s ease;
  -moz-transition: opacity .2s linear,left .2s ease;
  -ms-transition: opacity .2s linear,left .2s ease;
  -o-transition: opacity .2s linear,left .2s ease;
  transition: opacity .2s linear,left .2s ease; }

.submit-text:hover::before,
.submit-link:hover::before {
  opacity: 1;
  left: -160px; }

.side a[href="http://chat.mibbit.com/?url=irc://irc.esper.net/diablo"],
.side a[href="http://tinyurl.com/rdiablomumble"] {
  padding: 5px;
  border-radius: 2px;
  color: #ffffff;
  margin-bottom: 10px;
  display: inline-block !important;
  text-align: center;
  width: 135px; }

a[href="/s"] {
  display: none; }

a[href="/smallText"] {
  font-size: x-small; }

.side #search #searchexpando a {
  color: #2ba5dc; }

::selection {
  background: #3e7399; }

::-moz-selection {
  background: #3e7399; }

body {
  color: #d9f3ff;
  background: url("%%main-bg2%%") center top no-repeat #0c1619; }

body > .content {
  margin-right: 364px;
  padding-left: 10px;
  position: relative;
  margin-top: 42px;
  background: #172127;
  border: 1px solid #000;
  box-shadow: 0px 0px 10px #000; }

a {
  color: #2ba5dc; }

a:visited {
  color: #336699; }

a:hover {
  color: #ffffff; }

html:not([lang="xx"]) .RES-keyNav-activeElement,
html:not([lang="xx"]) .commentarea .RES-keyNav-activeElement .md,
html:not([lang="xx"]) .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
  outline: none !important;
  background-color: transparent !important; }

.thing .entry {
  padding: 7px; }

#siteTable .thing .entry .domain a:before {
  content: "/ "; }

#siteTable .thing .entry .domain {
  color: #181818; }

#siteTable .thing .entry .domain a {
  color: #77839d; }

#siteTable .thing .entry .tagline,
#siteTable .thing .entry .buttons a {
  color: #77839d;
  font-weight: normal; }

#siteTable .thing .entry .buttons a {
  font-style: italic; }

.content .organic-listing {
  border: none; }

body > .content > .spacer {
  margin-bottom: 0px; }

#siteTable .thing,
.content .organic-listing {
  border-bottom: 2px solid #0f1a24;
  margin-bottom: 0px;
  position: relative;
  height: 100%; }

.thing.stickied:after {
  display: inline-block;
  width: 643px;
  height: 68px;
  content: url("%%entry-stickied%%");
  position: absolute;
  left: -10px;
  bottom: 0px;
  z-index: -2; }

.thing.stickied:before,
.content .organic-listing:before {
  display: inline-block;
  width: 643px;
  height: 68px;
  content: url("%%entry-selected%%");
  position: absolute;
  left: -10px;
  top: 0px;
  z-index: -1; }

.thing.stickied a.title,
.thing.stickied a.title:visited {
  color: #47a21b !important;
  text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000; }

.thing a.title {
  color: #2ba5dc !important; }

.thing a.title:visited {
  color: #55627b !important; }

.thing a.title:hover {
  text-decoration: underline; }

.thing p.title {
  border-bottom: 1px dashed #2d4b66;
  padding-bottom: 5px;
  margin-bottom: 5px; }

.thing a.thumbnail {
  margin-top: 4px;
  padding: 8px;
  width: 53px;
  height: 53px;
  position: relative;
  -webkit-background-clip: content-box !important;
  background-clip: content-box !important;
  background-color: #181818; }

.thing a.thumbnail:after {
  content: url("%%thumb-frame%%");
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: transparent; }

.thing:not(.linkflair) .thumbnail {
  background: url("%%ros-baked%%") 0px 0px; }

.thing a.thumbnail.nsfw {
  background: url("%%ros-baked%%") -69px -4px; }

.thing a.thumbnail {
  background-color: transparent; }

.thing a.thumbnail * {
  background-color: transparent; }

.thing a.thumbnail img {
  width: 53px;
  height: 53px;
  background-color: transparent; }

.thing .midcol {
  margin-top: 11px; }

.arrow,
.arrow.downmod,
.arrow.upmod,
.arrow.down,
.arrow.up {
  background: url("%%ros-baked%%") -142px 0px;
  width: 16px;
  height: 13px; }

.arrow.downmod {
  background-position: -158px -0px; }

.arrow.down {
  background-position: -190px -0px; }

.arrow.up {
  background-position: -174px -0px; }

.link .rank {
  margin-left: 0px;
  color: #333;
  margin-top: 25px; }

.linkinfo {
  background: #172127;
  border: 1px solid #0c1619; }

.linkinfo .score .number {
  color: #ffdb6d;
  font-size: 18px; }

.linkinfo .score .number:before {
  color: #ffffff;
  content: "Sells for "; }

.linkinfo .score .number:after {
  color: #ffffff;
  content: " gold"; }

.linkinfo .totalvotes .number:before {
  content: "+"; }

.linkinfo .totalvotes .number:after {
  content: " to Votes"; }

.linkinfo .word {
  display: none; }

.linkinfo .date {
  border-bottom: 2px solid #0c1619;
  padding: 5px 0; }

.linkinfo .date:before {
  content: "Submitted "; }

.linkinfo .date span {
  display: none; }

input,
.linkinfo .shortlink input {
  background: #222;
  border: 1px solid #333;
  color: #ddd; }

input:hover,
.linkinfo .shortlink input:hover {
  border: 1px solid #1c5589; }

textarea:focus {
  outline: medium none;
  border: 1px solid #1c5589;
  box-shadow: 0px 0px 10px #1c5589; }

#siteTable .entry.RES-keyNav-activeElement {
  background: transparent !important; }

#siteTable .entry.RES-keyNav-activeElement:before {
  display: inline-block;
  width: 643px;
  height: 68px;
  content: url("%%entry-selected%%");
  position: absolute;
  left: -10px;
  top: 0px;
  z-index: -1; }

#siteTable .entry.likes:after,
.content .organic-listing:after {
  display: inline-block;
  width: 643px;
  height: 68px;
  content: url("%%entry-liked%%");
  position: absolute;
  left: -10px;
  bottom: 0px;
  z-index: -2; }

#siteTable .entry.dislikes:after {
  display: inline-block;
  width: 643px;
  height: 68px;
  content: url("%%entry-disliked%%");
  position: absolute;
  left: -10px;
  bottom: 0px;
  z-index: -2; }

#siteTable .link.last-clicked {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent; }

.link .usertext-body {
  background: #233847;
  border-radius: 3px;
  border: 1px solid #2c5c7e; }

.link .usertext .md {
  background: transparent !important;
  border: none;
  border-radius: 0px;
  color: #badcf1; }

body .thing .tagline .author.submitter,
.tagline .submitter {
  background: #006891 !important;
  color: #fff !important;
  border-radius: 2px !important;
  padding: 3px !important; }

body .thing .tagline .author.friend,
.tagline .friend {
  background: #912200 !important;
  border-radius: 2px !important;
  color: #fff !important;
  padding: 3px !important; }

body .thing .tagline .author.moderator,
.tagline .moderator {
  background: #282 !important;
  border-radius: 2px !important;
  color: #fff !important;
  padding: 3px !important; }

.tagline a {
  color: #ffffff; }

.panestack-title {
  color: #2ba5dc;
  border-bottom: none;
  float: left;
  margin-right: 10px;
  margin-top: 0px; }

.commentingAs {
  color: #2ba5dc; }

.panestack-title .RESSubscriptionButton {
  background: #274723;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: #d9f3ff !important;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #347e2c; }

.commentarea .menuarea {
  margin-top: 10px !important;
  margin-right: 0px !important; }

#REScommentNavToggle {
  margin-left: -5px !important; }

.entry .nsfw-stamp acronym {
  background-color: #472323;
  border: 1px solid #7e2c2c !important;
  padding: 3px;
  border-radius: 2px;
  color: #ffffff; }

.expando-button {
  background: url("%%expando%%") transparent !important;
  width: 36px !important;
  height: 36px !important;
  max-width: 36px !important;
  max-height: 36px !important;
  margin-top: -3px !important; }

.expando-button.selftext.collapsed {
  background-position: 0px -72px !important; }

.expando-button.selftext.expanded {
  background-position: -36px -72px !important; }

.expando-button.image.collapsedExpando, .expando-button.image.collapsed {
  background-position: 0px -36px  !important; }

.expando-button.image.expandedExpando, .expando-button.image.expanded {
  background-position: -36px -36px !important; }

.expando-button.video.collapsed {
  background-position: 0px 0px !important; }

.expando-button.video.expanded {
  background-position: -36px 0px !important; }

.footer {
  border: 1px solid #2c5c7e !important; }

.footer .col {
  border-left: 1px solid #2c5c7e; }

html:not([lang="xx"]) .comment {
  background: #233847;
  border-radius: 3px;
  border: 1px solid #2c5c7e !important;
  position: relative;
  outline: none;
  color: #badcf1 !important;
  padding-top: 0px !important;
  margin: 10px; }

html:not([lang="xx"]) .thing.comment * {
  z-index: 1; }

html:not([lang="xx"]) .thing.comment .entry {
  padding-top: 10px; }

html:not([lang="xx"]) .thing.comment .entry .md {
  padding-top: 5px; }

html:not([lang="xx"]) .thing.comment p.parent {
  position: absolute;
  top: -1px;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-left: -11px;
  border-radius: 3px;
  border: 1px solid #2c5c7e; }

html:not([lang="xx"]) .comment .comment {
  background-color: #112533 !important; }

html:not([lang="xx"]) .comment .comment .comment {
  background-color: #233847 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment {
  background-color: #112533 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment .comment {
  background-color: #233847 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment {
  background-color: #112533 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment {
  background-color: #233847 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: #112533 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: #233847 !important; }

html:not([lang="xx"]) .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background-color: #112533 !important; }

span.score {
  color: #d9f3ff !important;
  font-weight: bold; }

.comment .entry .buttons li a {
  color: #808080 !important; }

.comment .RES-keyNav-activeElement {
  outline: none !important;
  background: url("%%entry-selected%%") top left no-repeat !important; }

.comment .entry .md a:visited {
  color: #336699; }

html:not([lang="xx"]) .comment .child {
  border-left: none !important; }

.flairselector {
  box-shadow: none !important; }

.flairselector li:hover {
  background: #0e2a3d; }

h2, label {
  color: #2ba5dc; }

.flairselector h2 {
  background: none; }

.flairselector li,
.flairselector li:hover {
  border: none; }

.new-comment .usertext-body {
  background-color: #0e2c42;
  border: none; }

.entry .buttons li.reported-stamp {
  background-color: transparent; }

#search input[type=text] {
  color: #fff !important; }

.searchpane {
  background: transparent;
  border: none;
  padding-left: 0px; }

.link.promotedlink.promoted {
  background-color: transparent; }

.gilded-icon:before {
  width: 16px;
  height: 16px;
  background: url(%%ros-baked%%) -141px -31px !important;
  border-radius: 8px;
  border: 1px solid #dc5500;
  box-shadow: 0px 0px 24px #dc5500; }

#progressIndicator.neverEndingReddit,
body .NERPageMarker {
  background-color: #112533;
  border: 1px solid #233847;
  border-radius: 2px; }

.res #RESShortcutsEditContainer,
.res #RESShortcutsSort,
.res #RESShortcutsRight,
.res #RESShortcutsAdd,
.res #RESShortcutsTrash,
.res #RESShortcutsLeft {
  background: transparent !important; }

#sr-more-link {
  display: none; }

ul.report-reasons {
  background-color: #0c1619; }

body.embed > .content {
  margin-right: 0px; }

body label {
  color: #ffffff; }

.action-form {
  background-color: #0c1619;
  border: #000000; }

.md,
.md blockquote,
.md del {
  color: #badcf1; }

.md code,
.md pre {
  border: none;
  background-color: transparent; }

.RESDialogContents {
  color: #000000 !important;
  background-color: transparent !important; }

.md pre {
  background-color: transparent !important; }

.nextprev, .next-suggestions {
  color: #77839d;
  font-size: 14px; }

.nextprev a, .next-suggestions a {
  font-weight: bold;
  padding: 0;
  background: transparent;
  border: none; }

.nextprev .separator, .next-suggestions .separator {
  margin: 0 10px 0 10px;
  border-left: 2px solid #0f1a24; }

.nextprev a:hover, .next-suggestions a:hover {
  background: transparent;
  border: none; }

.side .md h5:before {
  content: "Announcement - "; }

.side .md h5 {
  position: absolute;
  top: 60px;
  left: 550px;
  z-index: 200;
  border-radius: 3px;
  border: 1px solid #163D4D;
  background: #071D26;
  padding: 8px;
  font-size: 12px;
  box-shadow: 0px 0px 90px #55889E; }

input[name="uh"] ~ a:after, .user:before {
  position: absolute;
  top: 8px;
  right: 230px;
  width: 563px;
  height: 83px;
  font-style: italic;
  font-size: 12px;
  font-weight: normal;
  color: #d9f3ff;
  z-index: 0;
  display: block;
  line-height: 83px;
  text-align: center;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000; }

input[name="uh"] ~ a:after {
  background: url("%%quote-bg%%") center center no-repeat; }

.user:before {
  z-index: 10;
  content: " "; }

input[name="uh"][value^="a"] ~ a:after {
  content: "Hello my friend! Stay awhile, and listen!"; }

input[name="uh"][value^="b"] ~ a:after {
  content: "Fool! You have just ensured the doom of this world."; }

input[name="uh"][value^="c"] ~ a:after {
  content: "Not even death can save you from me..."; }

input[name="uh"][value^="d"] ~ a:after {
  content: "My brothers have escaped you."; }

input[name="uh"][value^="e"] ~ a:after {
  content: "My brothers will not have died in vain!"; }

input[name="uh"][value^="f"] ~ a:after {
  content: "You thought you were so clever, that you would outwit us all."; }

input[name="uh"][value^="g"] ~ a:after {
  content: "There is no need for this debate to continue... or to have even begun."; }

input[name="uh"][value^="h"] ~ a:after {
  content: "Greetings, stranger. I'm not surprised to see your kind here."; }

input[name="uh"][value^="i"] ~ a:after {
  content: "You now speak to Ormus."; }

input[name="uh"][value^="j"] ~ a:after {
  content: "I sense a soul in search of answers..."; }

input[name="uh"][value^="k"] ~ a:after {
  content: "Damn it, I wish you people would just leave me alone!"; }

input[name="uh"][value^="l"] ~ a:after {
  content: "You dare to bring the warmth of life into my tomb?"; }

input[name="uh"][value^="m"] ~ a:after {
  content: "You were a templar, Jondar! How could you succumb to this... Coven?"; }

input[name="uh"][value^="n"] ~ a:after {
  content: "You have quite a treasure there in that Horadric Cube."; }

input[name="uh"][value^="o"] ~ a:after {
  content: "All who oppose me, beware. "; }

input[name="uh"][value^="p"] ~ a:after {
  content: "I will cleanse this wilderness."; }

input[name="uh"][value^="q"] ~ a:after {
  content: "I shall purge this land of the shadow."; }

input[name="uh"][value^="r"] ~ a:after {
  content: "Evil beware!"; }

input[name="uh"][value^="s"] ~ a:after {
  content: "This monastery reeks with evil and corruption. "; }

input[name="uh"][value^="t"] ~ a:after {
  content: "Ahh... Fresh meat!"; }

input[name="uh"][value^="u"] ~ a:after {
  content: "You'll pay for your atrocities, Baal."; }

input[name="uh"][value^="v"] ~ a:after {
  content: "Is that all? "; }

input[name="uh"][value^="w"] ~ a:after {
  content: "Tyrael was a fool to have trusted me!"; }

input[name="uh"][value^="x"] ~ a:after {
  content: "Pleeeease, no hurt, no kill. Keep alive and next time good bring to you."; }

input[name="uh"][value^="y"] ~ a:after {
  content: "I'm Gheed and I can already tell that I'll be your best friend in this forsaken camp."; }

input[name="uh"][value^="z"] ~ a:after {
  content: "Oh, forgive me, Tyrael, please. It... wasn't my fault."; }

input[name="uh"][value^="0"] ~ a:after {
  content: "Die, maggot!"; }

input[name="uh"][value^="1"] ~ a:after {
  content: "Looking for Baal!?"; }

input[name="uh"][value^="2"] ~ a:after {
  content: "This place is thick with the stench of ghouls."; }

input[name="uh"][value^="3"] ~ a:after {
  content: "I'm sorry. Did I break your concentration?"; }

input[name="uh"][value^="4"] ~ a:after {
  content: "Your madness ends here, betrayer!"; }

input[name="uh"][value^="5"] ~ a:after {
  content: "Rest in peace Leoric. I'll find your son. "; }

input[name="uh"][value^="6"] ~ a:after {
  content: "I can see what you see not / Vision milky then eyes rot"; }

input[name="uh"][value^="7"] ~ a:after {
  content: "Adria was my mother, but I don't know much about her. She died when I was very young."; }

input[name="uh"][value^="8"] ~ a:after {
  content: "Soon(tm)"; }

input[name="uh"][value^="9"] ~ a:after {
  content: "Well, what can I do for ya?"; }

input[name="uh"][value^="aa"] ~ a:after {
  content: "Hope remains within the hearts of men."; }

input[name="uh"][value^="ab"] ~ a:after {
  content: "So it begins..."; }

input[name="uh"][value^="ac"] ~ a:after {
  content: "Betrayal can never be forgiven."; }

input[name="uh"][value^="ad"] ~ a:after {
  content: "Black magic bars our way, but the will of a Templar is stronger!"; }

input[name="uh"][value^="ae"] ~ a:after {
  content: "Evil cowers at the sight of one templar. Two will bring it to its knees!"; }

input[name="uh"][value^="af"] ~ a:after {
  content: "Beware, foul demons and beasts."; }

input[name="uh"][value^="ag"] ~ a:after {
  content: "All who oppose me... beware."; }

input[name="uh"][value^="ah"] ~ a:after {
  content: "I will not be denied!"; }

input[name="uh"][value^="ai"] ~ a:after {
  content: "Halt!"; }

input[name="uh"][value^="aj"] ~ a:after {
  content: "You may not pass."; }

input[name="uh"][value^="ak"] ~ a:after {
  content: "Stay out of trouble."; }

input[name="uh"][value^="al"] ~ a:after {
  content: "Hail to you, champion."; }

input[name="uh"][value^="am"] ~ a:after {
  content: "My vote is for them... for I would see what they might become... and marvel in it."; }

input[name="uh"][value^="an"] ~ a:after {
  content: "How do I know I can trust you? Hmm?"; }

input[name="uh"][value^="ao"] ~ a:after {
  content: "Well, well. The siege has everything in short supply...except fools."; }

input[name="uh"][value$="moo"] ~ a:after {
  content: "Moo! Moo moo moo moo moo."; }

.comments-page .flat-list.buttons a.flairselectbtn {
  font-size: 0px;
  background: #274723;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: #d9f3ff !important;
  border: 1px solid #347e2c; }

.comments-page .flat-list.buttons a.flairselectbtn::before {
  content: "Add flair to this post";
  font-size: 12px; }

.flat-list.buttons a.flairselectbtn + .flairselector form {
  border-top: 0; }

.flat-list.buttons a.flairselectbtn + .flairselector h2,
.flat-list.buttons a.flairselectbtn + .flairselector .customizer {
  display: none; }

.flat-list.buttons a.flairselectbtn + .flairselector .customizer::before {
  content: ""; }

.linkflairlabel,
.click-gadget .linkflair {
  background: #111;
  border: 1px solid #c00;
  border-radius: 3px;
  color: #ddd;
  padding: 5px;
  font-weight: bold; }

.click-gadget .linkflair {
  font-size: x-small;
  white-space: nowrap;
  display: inline-block;
  margin-right: 3px; }

.linkflair .linkflairlabel {
  vertical-align: middle; }

.linkflair-spoiler .linkflairlabel ~ a.title,
.click-gadget .linkflair ~ a.reddit-link-title {
  opacity: 0.0;
  -moz-opacity: .0; }

.linkflair-spoiler .linkflairlabel ~ a.title:hover,
.click-gadget .linkflair ~ a.reddit-link-title:hover {
  opacity: 1.0;
  -moz-opacity: 1; }

.linkflair-spoiler a.thumbnail {
  background: url(%%ros-baked%%) -70px 0px !important; }

.linkflair-spoiler a.thumbnail img,
.linkflair-spoiler a.thumbnail {
  display: none !important; }

.linkflair-spoiler .entry {
  margin-left: 152px; }

.thing .title {
  color: #fff; }

.linkflair-barb .linkflairlabel {
  border-color: #700; }

.linkflair-barb a.thumbnail {
  background: url(%%class-portraits1%%) 0px 0px; }

.linkflair-wizz .linkflairlabel {
  border-color: #077; }

.linkflair-wizz a.thumbnail {
  background: url(%%class-portraits1%%) 0px -240px; }

.linkflair-dh .linkflairlabel {
  border-color: #7F41A3; }

.linkflair-dh a.thumbnail {
  background: url(%%class-portraits1%%) 0px -120px; }

.linkflair-wd .linkflairlabel {
  border-color: #070; }

.linkflair-wd a.thumbnail {
  background: url(%%class-portraits1%%) 0px -180px; }

.linkflair-monk .linkflairlabel {
  border-color: #770; }

.linkflair-monk a.thumbnail {
  background: url(%%class-portraits1%%) 0px -60px; }

.linkflair-crus .linkflairlabel {
  border-color: #FFFF00; }

.linkflair-crus a.thumbnail {
  background: url(%%class-portraits1%%) 0px -300px; }

.linkflair-americas .linkflairlabel {
  border-color: #e1342d; }

.linkflair-americas a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px 0px; }

.linkflair-europe .linkflairlabel {
  border-color: #5fcd26; }

.linkflair-europe a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -70px; }

.linkflair-asia .linkflairlabel {
  border-color: #b527d0; }

.linkflair-asia a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -140px; }

.linkflair-idea .linkflairlabel {
  border-color: #E0A148; }

.linkflair-idea a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -210px; }

.linkflair-craftpost .linkflairlabel {
  border-color: #C95216; }

.linkflair-craftpost a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -280px; }

.linkflair-secrettome .linkflairlabel {
  border-color: #e5e5e5; }

.linkflair-secrettome a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -350px; }

.linkflair-diablotwo .linkflairlabel {
  border-color: #CC0000; }

.linkflair-diablotwo a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -420px; }

.linkflair-hardcore .linkflairlabel {
  border-color: #350700; }

.linkflair-hardcore a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -490px; }

.linkflair-diabloone .linkflairlabel {
  border-color: #CC0000; }

.linkflair-diabloone a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -560px; }

.linkflair-glorious .linkflairlabel {
  border-color: #fff8a8; }

.linkflair-glorious a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -630px; }

.linkflair-challenge .linkflairlabel {
  border-color: #1f355d; }

.linkflair-challenge a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -700px; }

.linkflair-console .linkflairlabel {
  border-color: #000000; }

.linkflair-console a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -770px; }

.linkflair-rosbeta .linkflairlabel {
  border-color: #251b48; }

.linkflair-rosbeta a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -840px; }

.linkflair-fluff .linkflairlabel {
  border-color: #ff8ffb; }

.linkflair-fluff a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -910px; }

.linkflair-art .linkflairlabel {
  border-color: #37586f; }

.linkflair-art a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -980px; }

.linkflair-season .linkflairlabel {
  border-color: #9af054; }

.linkflair-season a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -1050px; }

.linkflair-ptr .linkflairlabel {
  border-color: #54a8f0; }

.linkflair-ptr a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -1120px; }

.linkflair-theorycraft .linkflairlabel {
  border-color: #f25301; }

.linkflair-theorycraft a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -1190px; }

.linkflair-guide .linkflairlabel {
  border-color: #096c42; }

.linkflair-guide a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -1260px; }

.linkflair-blizzard .linkflairlabel {
  border-color: #00a7e1; }

.linkflair-blizzard a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -1330px; }

.linkflair-question .linkflairlabel {
  border-color: #572a0f; }

.linkflair-question a.thumbnail {
  background: url(%%linkflairthumbs%%) 0px -1400px; }

.flair {
  padding: 0px;
  margin: 0;
  line-height: 20px;
  vertical-align: middle;
  text-align: right;
  color: #eee;
  background: url(%%class-baked-column%%) top left no-repeat #000;
  min-width: 40px;
  padding-right: 10px;
  width: 40px;
  height: 20px;
  position: relative;
  z-index: 10;
  opacity: 0.5;
  overflow: hidden;
  margin-right: 3px;
  text-indent: 60px;
  border: 1px solid #000;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.flair:hover {
  opacity: 1.0;
  width: auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.flair-monk {
  background-position: 0px 0px !important; }

.flair-wizard {
  background-position: 0px -20px !important; }

.flair-barb {
  background-position: 0px -40px !important; }

.flair-witchdoc {
  background-position: 0px -60px !important; }

.flair-demonhunt {
  background-position: 0px -80px !important; }

.flair-monk-reddit {
  background-position: 0px -100px !important; }

.flair-wizard-reddit {
  background-position: 0px -120px !important; }

.flair-barb-reddit {
  background-position: 0px -140px !important; }

.flair-witchdoc-reddit {
  background-position: 0px -160px !important; }

.flair-demonhunt-reddit {
  background-position: 0px -180px !important; }

.flair-monk-americas {
  background-position: 0px -200px !important; }

.flair-wizard-americas {
  background-position: 0px -220px !important; }

.flair-barb-americas {
  background-position: 0px -240px !important; }

.flair-witchdoc-americas {
  background-position: 0px -260px !important; }

.flair-demonhunt-americas {
  background-position: 0px -280px !important; }

.flair-monk-asia {
  background-position: 0px -400px !important; }

.flair-wizard-asia {
  background-position: 0px -420px !important; }

.flair-barb-asia {
  background-position: 0px -440px !important; }

.flair-witchdoc-asia {
  background-position: 0px -460px !important; }

.flair-demonhunt-asia {
  background-position: 0px -480px !important; }

.flair-monk-europe {
  background-position: 0px -300px !important; }

.flair-wizard-europe {
  background-position: 0px -320px !important; }

.flair-barb-europe {
  background-position: 0px -340px !important; }

.flair-witchdoc-europe {
  background-position: 0px -360px !important; }

.flair-demonhunt-europe {
  background-position: 0px -380px !important; }

/* Trophy flair */
.flair-tyrael-alt {
  background-position: 0px -500px !important; }

.flair-tyrael {
  background-position: 0px -520px !important; }

.flair-azmodan {
  background-position: 0px -540px !important; }

.flair-diablo {
  background-position: 0px -560px !important; }

.flair-tyrael-alt-reddit {
  background-position: 0px -580px !important; }

.flair-tyrael-reddit {
  background-position: 0px -600px !important; }

.flair-azmodan-reddit {
  background-position: 0px -620px !important; }

.flair-diablo-reddit {
  background-position: 0px -640px !important; }

.flair-tyrael-alt-americas {
  background-position: 0px -660px !important; }

.flair-tyrael-americas {
  background-position: 0px -680px !important; }

.flair-azmodan-americas {
  background-position: 0px -700px !important; }

.flair-diablo-americas {
  background-position: 0px -720px !important; }

.flair-tyrael-alt-europe {
  background-position: 0px -740px !important; }

.flair-tyrael-europe {
  background-position: 0px -760px !important; }

.flair-azmodan-europe {
  background-position: 0px -780px !important; }

.flair-diablo-europe {
  background-position: 0px -800px !important; }

.flair-tyrael-alt-asia {
  background-position: 0px -820px !important; }

.flair-tyrael-asia {
  background-position: 0px -840px !important; }

.flair-azmodan-asia {
  background-position: 0px -860px !important; }

.flair-diablo-asia {
  background-position: 0px -880px !important; }

.flair-crusader-reddit {
  background-position: 0px -900px !important; }

.flair-crusader-americas {
  background-position: 0px -920px !important; }

.flair-crusader-europe {
  background-position: 0px -940px !important; }

.flair-crusader-asia {
  background-position: 0px -960px !important; }

.flair-bender {
  background: url(%%class-baked-column%%) 0px -980px no-repeat !important; }

.flair-idscroll + .userattrs {
  background-image: url(%%ros-baked%%);
  background-position: 0px -137px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 18px;
  height: 18px;
  vertical-align: middle; }

.flair-challenge + .userattrs:after {
  content: " ";
  background-image: url(%%challengeflair%%);
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 24px;
  height: 22px;
  vertical-align: middle; }

.flair-one + .userattrs:after {
  background-position: 0px -2px; }

.flair-two + .userattrs:after {
  background-position: -26px -2px; }

.flair-three + .userattrs:after {
  background-position: -55px -2px; }

.flair-four + .userattrs:after {
  background-position: -86px -2px; }

.flair-1L2 + .userattrs:after {
  background-position: 0px -32px; }

.flair-2L2 + .userattrs:after {
  background-position: -26px -32px; }

.flair-3L2 + .userattrs:after {
  background-position: -55px -32px; }

.flair-4L2 + .userattrs:after {
  background-position: -86px -32px; }

.flair-1L3 + .userattrs:after {
  background-position: 0px -62px; }

.flair-2L3 + .userattrs:after {
  background-position: -26px -62px; }

.flair-3L3 + .userattrs:after {
  background-position: -55px -62px; }

.flair-4L3 + .userattrs:after {
  background-position: -86px -62px; }

.flair-rainbowsmotherfucker + .userattrs:before {
  content: " ";
  background-image: url(%%ros-baked%%);
  background-position: 0px -160px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 20px;
  height: 20px;
  vertical-align: middle; }

/**** Blizzard flair for employees ****/
/*Diablo*/
a.author[href$="reddit.com/user/andrewchambers"]:before,
a.author[href$="reddit.com/user/CM_Grimiku"]:before,
a.author[href$="reddit.com/user/JayPWilson"]:before,
a.author[href$="reddit.com/user/_JohnYang"]:before,
a.author[href$="reddit.com/user/Nevalistis"]:before,
a.author[href$="reddit.com/user/TravisDay"]:before,
a.author[href$="reddit.com/user/Tyvalir"]:before,
a.author[href$="reddit.com/user/Ulvareth"]:before,
a.author[href$="reddit.com/user/wyattcheng"]:before,
a.author[href$="reddit.com/user/Blizz_MatthewBerger"]:before,
a.author[href$="reddit.com/user/blizz_rogerhughston"]:before,
a.author[href$="reddit.com/user/Blizz_BrianKindregan"]:before,
a.author[href$="reddit.com/user/BlizzRichieMarella"]:before,
a.author[href$="reddit.com/user/Blizz_KevinMartens"]:before,
a.author[href$="reddit.com/user/Blizz_Kauza"]:before,
a.author[href$="reddit.com/user/bdbrode"]:before,
a.author[href$="reddit.com/user/BlizzDaxxarri"]:before,
a.author[href$="reddit.com/user/CM_Zeriyah"]:before,
a.author[href$="reddit.com/user/Aldrexus"]:before,
a.author[href$="reddit.com/user/BlizzJohnzee"]:before,
a.author[href$="reddit.com/user/Spyrian"]:before,
a.author[href$="reddit.com/user/trikslyr"]:before,
a.author[href$="reddit.com/user/vaeflare"]:before,
a.author[href$="reddit.com/user/lylirra"]:before,
a.author[href$="reddit.com/user/psione"]:before,
a.author[href$="reddit.com/user/Traysent"]:before,
a.author[href$="reddit.com/user/Xordiah"]:before,
a.author[href$="reddit.com/user/Zoevia"]:before,
a.author[href$="reddit.com/user/bashiok_foreal"]:before,
a.author[href$="reddit.com/user/Crithto"]:before,
a.author[href$="reddit.com/user/Kaivax"]:before,
a.author[href$="reddit.com/user/Nethaera"]:before,
a.author[href$="reddit.com/user/Rygarius"]:before,
a.author[href$="reddit.com/user/Zarhym"]:before,
a.author[href$="reddit.com/user/Araxom"]:before,
a.author[href$="reddit.com/user/Glaxigrav"]:before,
a.author[href$="reddit.com/user/Natryndon"]:before,
a.author[href$="reddit.com/user/Nidrorian"]:before {
  content: url(%%blizz%%);
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle; }

/** Job descriptions */
/* Community Managers */
a.author[href$="reddit.com/user/bashiok_foreal"]:after,
a.author[href$="reddit.com/user/lylirra"]:after,
a.author[href$="reddit.com/user/CM_Grimiku"]:after,
a.author[href$="reddit.com/user/vaeflare"]:after,
a.author[href$="reddit.com/user/Traysent"]:after,
a.author[href$="reddit.com/user/Crithto"]:after,
a.author[href$="reddit.com/user/Kaivax"]:after,
a.author[href$="reddit.com/user/Rygarius"]:after,
a.author[href$="reddit.com/user/Nethaera"]:after,
a.author[href$="reddit.com/user/Nevalistis"]:after,
a.author[href$="reddit.com/user/Aldrexus"]:after,
a.author[href$="reddit.com/user/BlizzDaxxarri"]:after,
a.author[href$="reddit.com/user/Natryndon"]:after,
a.author[href$="reddit.com/user/Zarhym"]:after,
a.author[href$="reddit.com/user/Tyvalir"]:after,
a.author[href$="reddit.com/user/Nidrorian"]:after,
a.author[href$="reddit.com/user/Ulvareth"]:after,
a.author[href$="reddit.com/user/Blizz_Kauza"]:after {
  content: "Community Manager";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/* Customer support */
a.author[href$="reddit.com/user/Araxom"]:after,
a.author[href$="reddit.com/user/Glaxigrav"]:after,
a.author[href$="reddit.com/user/Natryndon"]:after {
  content: "Customer Support";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/* Jay Wilson */
a.author[href$="reddit.com/user/JayPWilson"]:after {
  content: "Former Game Director";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/* Game Designers */
a.author[href$="reddit.com/user/wyattcheng"]:after,
a.author[href$="reddit.com/user/andrewchambers"]:after,
a.author[href$="reddit.com/user/_JohnYang"]:after,
a.author[href$="reddit.com/user/Blizz_MatthewBerger"]:after,
a.author[href$="reddit.com/user/Blizz_KevinMartens"]:after,
a.author[href$="reddit.com/user/TravisDay"]:after {
  content: "Game Designer";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/* Software Engineers */
a.author[href$="reddit.com/user/blizz_rogerhughston"]:after {
  content: "Software Engineer";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/* Artists */
a.author[href$="reddit.com/user/BlizzRichieMarella"]:after {
  content: "Artist";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/* Writers */
a.author[href$="reddit.com/user/Blizz_BrianKindregan"]:after {
  content: "Writer";
  color: #00B4FF !important;
  padding: 4px;
  margin-left: 5px;
  border: 1px solid #222;
  background: #111; }

/*Diablo*/
a.author[href$="reddit.com/user/andrewchambers"],
a.author[href$="reddit.com/user/CM_Grimiku"],
a.author[href$="reddit.com/user/JayPWilson"],
a.author[href$="reddit.com/user/_JohnYang"],
a.author[href$="reddit.com/user/Nevalistis"],
a.author[href$="reddit.com/user/TravisDay"],
a.author[href$="reddit.com/user/Tyvalir"],
a.author[href$="reddit.com/user/Ulvareth"],
a.author[href$="reddit.com/user/wyattcheng"],
a.author[href$="reddit.com/user/Blizz_MatthewBerger"],
a.author[href$="reddit.com/user/blizz_rogerhughston"],
a.author[href$="reddit.com/user/Blizz_BrianKindregan"],
a.author[href$="reddit.com/user/BlizzRichieMarella"],
a.author[href$="reddit.com/user/Blizz_KevinMartens"],
a.author[href$="reddit.com/user/Blizz_Kauza"],
a.author[href$="reddit.com/user/bdbrode"],
a.author[href$="reddit.com/user/BlizzDaxxarri"],
a.author[href$="reddit.com/user/CM_Zeriyah"],
a.author[href$="reddit.com/user/Aldrexus"],
a.author[href$="reddit.com/user/BlizzJohnzee"],
a.author[href$="reddit.com/user/Spyrian"],
a.author[href$="reddit.com/user/trikslyr"],
a.author[href$="reddit.com/user/vaeflare"],
a.author[href$="reddit.com/user/lylirra"],
a.author[href$="reddit.com/user/psione"],
a.author[href$="reddit.com/user/Traysent"],
a.author[href$="reddit.com/user/Xordiah"],
a.author[href$="reddit.com/user/Zoevia"],
a.author[href$="reddit.com/user/bashiok_foreal"],
a.author[href$="reddit.com/user/Crithto"],
a.author[href$="reddit.com/user/Kaivax"],
a.author[href$="reddit.com/user/Nethaera"],
a.author[href$="reddit.com/user/Rygarius"],
a.author[href$="reddit.com/user/Zarhym"],
a.author[href$="reddit.com/user/Araxom"],
a.author[href$="reddit.com/user/Glaxigrav"],
a.author[href$="reddit.com/user/Natryndon"],
a.author[href$="reddit.com/user/Nidrorian"] {
  color: #00B4FF !important; }

a[href="/spoiler"] {
  display: block;
  overflow: hidden;
  background: url(%%hell-spoiler%%) top center #000 no-repeat;
  border-radius: 5px;
  padding: 10px;
  padding-top: 30px;
  min-width: 273px;
  cursor: default;
  color: #000 !important; }

a[href="/spoiler"]:hover {
  color: #E3C4A8 !important; }

span.keyNavAnnotation {
  display: none !important; }

a[href="#s"],
.md p > a[href="#s"] {
  color: #fff !important;
  cursor: default; }

a[href="#s"]::after,
.md p > a[href="#s"]::after {
  background: url(%%ros-baked%%) 0px -107px #000 no-repeat;
  display: inline-block;
  height: 28px;
  width: 93px;
  overflow: hidden;
  content: attr(title);
  color: #000;
  visibility: visible; }

a[href="#s"]:hover,
.md p > a[href="#s"]:hover {
  color: #E3C4A8 !important; }

a[href="#s"]:hover::after,
a[href="#s"]:active::after,
.md p > a[href="#s"]:hover::after,
.md p > a[href="#s"]:active::after {
  color: #E3C4A8; }

.arrow.down:hover::before {
  content: "Please vote based on quality, not opinion. Posts may contribute to the discussion even if you disagree with the viewpoint.";
  font-size: 10px;
  max-width: 200px;
  position: absolute;
  top: 64px;
  z-index: 9999;
  display: block;
  border-radius: 3px;
  background-color: #000;
  color: #d9f3ff;
  padding: 10px;
  font-weight: normal; }

.side .usertext-body .md hr:nth-of-type(2) + p {
  text-align: center;
  margin-bottom: 10px; }

.side a[href="http://www.twitter.com/redditdiablo"] {
  text-indent: -9999px;
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url(%%ros-baked%%) -142px -14px no-repeat;
  margin-right: 10px; }

.side a[href="http://www.youtube.com/redditdiablo"] {
  text-indent: -9999px;
  display: inline-block;
  width: 23px;
  height: 16px;
  background: url(%%ros-baked%%) -160px -14px no-repeat;
  margin-right: 10px; }

.side a[href="http://www.twitch.tv/rdiablo"] {
  text-indent: -9999px;
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url(%%ros-baked%%) -184px -14px no-repeat;
  margin-right: 10px; }

.side a[href="http://steamcommunity.com/groups/rdiablo"] {
  text-indent: -9999px;
  display: inline-block;
  width: 24px;
  height: 16px;
  background: url(%%ros-baked%%) -201px -14px no-repeat;
  margin-right: 10px; }

.side a[href="https://discord.gg/0dIgU3FsQhCdXw3q"] {
  text-indent: -9999px;
  display: inline-block;
  width: 300px;
  height: 50px;
  background: url(%%discordcss%%) 0px 0px no-repeat;
  margin-bottom: 1em; }

.side a[href="https://discord.gg/0dIgU3FsQhCdXw3q"]:hover {
  text-indent: -9999px;
  display: inline-block;
  width: 300px;
  height: 50px;
  background: url(%%discordcss%%) 0px -50px no-repeat; }

.titlebox form {
  position: static; }

.side .md h4:nth-of-type(1) {
  position: absolute;
  z-index: 3;
  background: #0c1619;
  top: 181px;
  left: 5px;
  right: 0px;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  font-weight: normal;
  padding: 3px;
  padding-left: 40px;
  margin-right: 364px;
  border: 1px solid #000000;
  color: #2ba5dc; }

.side .md h4 a {
  margin: 0 10px;
  color: #d9f3ff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.side .md h4 a:hover {
  margin: 0 13px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.infobar, .usertext.border .usertext-body {
  background: #472323;
  border: 1px solid #7e2c2c; }

.usertext.border .usertext-body {
  border: none; }

.roundfield,
.content.submit .info-notice,
.linefield {
  background-color: #0c1619; }

.wiki-page .wiki-page-content .md.wiki h1,
.wiki-page .wiki-page-content .md.wiki h2,
.wiki-page .wiki-page-content .md.wiki h3,
.wiki-page .wiki-page-content .md.wiki h4,
.wiki-page .wiki-page-content .md.wiki h5,
.wiki-page .wiki-page-content .md.wiki h6 {
  color: #d9f3ff; }

.wiki-page .wiki-page-content {
  margin: 15px 15px 15px 15px !important; }

/*# sourceMappingURL=style.css.map */
